@page
@model ForgotPasswordModel
@inject IStringLocalizer<ForgotPasswordModel> localizer
@inject IHtmlLocalizer<ForgotPasswordModel> htmlLocalizer
@{
    Layout = "~/Areas/Identity/Pages/_LayoutBlur.cshtml"; ;
    ViewData["Title"] = localizer["Title"];
}

<div class="modal-body">
    <div>
        @if (!Model.ConfirmSentEmail)
        {
            <p>
                @localizer["CatchPhrase"].
            </p>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post"> 
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="@localizer["Email"]" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button class="btn btn-success col-12">@localizer["Reset"]</button>
            </form>
        }
        else
        {
            <div class="alert alert-success">
                @localizer["ConfirmationTitleCatchPhrase"]
            </div>
            <div class=" justify-content-center">
                <a href="Login" title="valid" class="btn btn-success text-uppercase col-12">  @htmlLocalizer["Validate"]</a>
            </div>
        }
    </div>
</div> 
<script type="text/javascript"> 
    $(".close").click(function () {
        window.location = "/";
    })
</script>