@page

@model LoginWithPinCodeModel
@inject IStringLocalizer<LoginModel> localizer
@inject IHtmlLocalizer<LoginModel> htmlLocalizer
@{
    Layout = null;
    ViewData["Title"] = localizer["Title"];
}

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/css/all.css" rel="stylesheet" /> 
    <link href="/css/app.css" rel="stylesheet" />
    <link href="/css/components.css" rel="stylesheet" />

</head>

<body>
    <div id="app">
        <section class="container">
            <div class="login-brand pt-3">
                <img class="w-100 d-lg-none d-md-none" src="/assets/img/connexion/bg_intro.svg" />
                <img src="/assets/img/connexion/smartclik_logo.png" />
            </div>
            <div class="row pb-3 mt-4 mt-lg-5 justify-content-lg-center" style="color: #97AABD;font-size:14px;font-weight:400; ">
                <div class="col-lg-4 col-sm-12 bg-white">
                    <span><span class="text-green font-weight-bold">@htmlLocalizer["SmartClik"]</span>@localizer["Muted-p1"]</span>
                    <br /><br />
                    <div class="text-justify">
                        <span id="text-desc-p2">@localizer["Muted-p2"]</span>
                        <span class="text-green font-weight-bold">@localizer["Muted-p3"]</span>
                    </div>
                    <br />
                    <a class="btn btn-success btn-lg col-12 text-uppercase" href="register">@localizer["CreateAccount"]</a><br />
                    <hr class=" d-lg-none" />
                </div>
                <div class="offset-lg-1 col-lg-4 col-sm-12">
                    <div class="d-lg-block"  >
                        <form id="account" method="post">
                            <p>@localizer["LocalLoginCatchPhrase"]</p>
                            <div class="form-group">
                                <input asp-for="Input.PinDigit" class="form-control" placeholder="@localizer["PinDigit"]" />
                                <span asp-validation-for="Input.PinDigit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.PinCode" class="form-control" placeholder="@localizer["Password"]" />
                                <span asp-validation-for="Input.PinCode" class="text-danger"></span>
                            </div>

                            <div class="row justify-content-center mb-3">
                                <a href="ForgotPassword" class="text-decoration-none" style="font-size: 12px; font-weight: 400; color: #97AABD;">
                                    @localizer["ForgotPasswordText"]
                                </a>
                            </div>
                            <button type="submit" class="pt-2 pb-2 btn btn-warning text-decoration-none col-12 text-uppercase " style="border-radius:15px;">
                                @localizer["Connect"]
                            </button>
                        </form>
                    </div> 
                </div>
            </div>
        </section>
    </div>

    <footer class="footer hidden-mobile" style=" bottom: 0px; position: absolute;">
        <div class="container">
            <img width="120" src="/assets/img/connexion/smartclik_logo.png" /><br />
            <span style="font-size:12px;">Copyright © Meetag 2021 - All rights reserved</span>
        </div>
    </footer>

    <partial name="_ScriptImport" />

    <!-- General JS Scripts -->
    <partial name="_ValidationScriptsPartial" />


    <script type="text/javascript"> 
        $("#btn-connect").click(function () {
            $("#account").submit();
        });
    </script>
</body>
</html>