@page

@model LoginWithPinCodeModel
@inject IStringLocalizer<LoginModel> localizer
@inject IHtmlLocalizer<LoginModel> htmlLocalizer
@{
    Layout = null;
    ViewData["Title"] = localizer["Title"];
}

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/css/all.css" rel="stylesheet" />
    <link href="/vendors/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />
    <link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="/vendors/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/vendors/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/vendors/summernote/dist/summernote-bs4.css" rel="stylesheet" />
    <link href="/vendors/chocolat/dist/css/chocolat.css" rel="stylesheet" />
    <link href="/css/app.css" rel="stylesheet" />
    <link href="/css/components.css" rel="stylesheet" />

</head>

<body>
    <div id="app">
        <section class="section">
            <div class="login-brand pt-3">
                <img class="w-100 d-lg-none d-md-none" src="/assets/img/connexion/bg_intro.svg" />
                <img src="/assets/img/connexion/smartclik_logo.png" />
            </div>
            <div class="d-flex flex-wrap align-items-stretch text-justify" style="color: #97AABD; font-size:17px;font-weight:400">
                <div class="col-lg-4 col-md-6 col-sm-12 order-lg-1 min-vh-100 order-2 bg-white">
                    <div class="p-1 mt-5">
                        <p class="text-muted"><span class="text-green font-weight-bold">@htmlLocalizer["SmartClik"]</span>@localizer["Muted-p1"]</p>
                        <span class="text-green font-weight-bold">@localizer["Muted-p3"]</span><br /><br />

                        <a class="btn btn-success btn-lg col-12 text-uppercase" href="register">@localizer["CreateAccount"]</a><br />
                        <hr />
                        <form id="account" method="post">
                            <p>@localizer["LocalLoginCatchPhrase"]</p>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="Input.PinDigit" class="form-control" placeholder="@localizer["PinDigit"]" />
                                <span asp-validation-for="Input.PinDigit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.PinCode" class="form-control" placeholder="@localizer["Password"]" />
                                <span asp-validation-for="Input.PinCode" class="text-danger"></span>
                            </div>
                            <button class="pt-2 pb-2 btn btn-warning text-decoration-none col-12 text-uppercase" style="border-radius:15px;">
                                @localizer["Connect"]
                            </button>
                            <a href="/Identity/Account/register" class="pl-0 pt-2 pb-2 text-decoration-none col-3">
                                <img class="pt-2 pb-2" src="/assets/img/services/macarte_sm.svg" style="box-shadow: 0px 5px 35px 0px lightgrey; padding-left: 10px; border-radius: 0px 0px 19px 19px; background: #F5F8FA;" />
                            </a>
                        </form>
                    </div>
                </div>

                <div class="d-none d-md-block d-xl-block col-lg-8 col-md-6 col-sm-12 order-lg-2 order-1 min-vh-100 background-walk-y position-relative overlay-gradient-bottom" data-background="/assets/img/unsplash/beirut.jpg">
                    <div class="absolute-bottom-left index-2">
                        <div class="text-light p-5 pb-2">
                            <div class="mb-5 pb-3">
                                <h1 class="mb-2 display-4 font-weight-bold">@localizer["GoodMorning"]</h1>
                                <h5 class="font-weight-normal text-muted-transparent">beirut, Lebanon</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- General JS Scripts -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendors/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>

    <!-- JS Libraies -->
    <script src="/vendors/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/vendors/summernote/dist/summernote-bs4.min.js"></script>
    <script src="/vendors/chocolat/dist/js/jquery.chocolat.min.js"></script>

    <!-- chart js-->
    <script src="/vendors/moment/moment-with-locales.min.js" type="text/javascript" language="javascript"></script>
    <script src="/vendors/chart/Chart.min.js" type="text/javascript" language="javascript"></script>

    <!--application-->
    <script src="/js/app.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/custom.js"></script>

    <!-- General JS Scripts -->
    <partial name="_ValidationScriptsPartial" />


    <script type="text/javascript">
        $("#btn-connect-toggle").click(function () {

            if ($(this).attr("data-action") == "1") {
                console.log("test1");
                $(this).attr('data-toggle', 'false');
                $("#account").submit();
            }
            else {
                console.log("test2");
                $(this).attr('data-action', '1');
            }
        });
    </script>
</body>
</html>