@inject NavigationManager NavigationManager
@code
{
    [Parameter]
    public Microsoft.Extensions.Localization.IStringLocalizer Loc { get; set; }
    [Parameter]
    public List<ViewContact> Items { get; set; }

    private bool ModalDisplayVideo;
    private ViewApplicationUser ViewContact = new ViewApplicationUser();

    void DisplayDescriptionVideo(ViewApplicationUser viewApplicationUser)
    {
        ViewContact = viewApplicationUser;
        ModalDisplayVideo = true;
    }

    void GotoContact(ViewContact contact)
    {
        NavigationManager.NavigateTo(NavigationManager.ToAbsoluteUri($"/viewprofile/{(!string.IsNullOrEmpty(contact.Contact.DigitCode) ? contact.Contact.DigitCode : contact.Contact.Id)}").ToString(), true);
    }

    ViewContact flipedFrontCard = null;

    void FlipCard(ViewContact contact)
    {
        flipedFrontCard = contact;
    }

    string GetFilpedCardStatus(ViewContact contact)
    {
        if (flipedFrontCard == null)
            return "null";
        if (contact.Id == flipedFrontCard.Id)
            return $"selected";
        else
            return "none";
    }
}
<div class="container slide-in-elliptic-top-fwd" id="contacts">
    <h5 class="section-title h1">@Loc["YourContacts"]</h5>
    <div class="row">
        <Virtualize Items="Items" Context="contact">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            @{
                                var status = GetFilpedCardStatus(contact);
                            }
                            @if (status != "selected")
                            {
                                <div class="card">
                                    <div class="card-body text-center" style="height:250px;">
                                        <h4 class="card-title">@contact.Contact.DisplayName (@contact.Contact.NumberOfContacts / @contact.Contact.NumberOfAds)</h4>
                                        <p class="card-text">@contact.Contact.Title.</p>
                                        <p>
                                            <UserPhotoControl User="contact.Contact" Loc="Loc"></UserPhotoControl>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        @if (contact.UserAccepted == EnumUserAccepted.PENDING || contact.UserAccepted == EnumUserAccepted.REJECT)
                                        {
                                            <p>
                                                @switch (contact.UserAccepted)
                                                {
                                                    case EnumUserAccepted.PENDING:
                                                        {
                                                            <span class="badge badge-default">@Loc["InvitationPending"]</span>
                                                            break;
                                                        }
                                                    case EnumUserAccepted.REJECT:
                                                        {
                                                            <span class="badge badge-warning">@Loc["InvitationRefused"]</span>
                                                            break;
                                                        }
                                                }
                                            </p>
                                        }
                                    <p>
                                        @if (contact.Contact.SocialNetworkConnected?.Count > 0)
                                        {
                                            <ul class="list-inline">
                                                <Virtualize Items="contact.Contact.SocialNetworkConnected" Context="socialNetwork">
                                                    <a href="@socialNetwork.Url" target="_blank">
                                                        <img alt="image" src="assets/img/social/@(socialNetwork.Name).svg" style="  width:40px;text-align:center" />
                                                    </a>
                                                </Virtualize>
                                            </ul>
                                        }
                                    </p>
                                        <a @onclick="@(() => GotoContact(contact))" class="btn btn-secondary"><i class="fas fa-eye"></i></a>
                                        <a @onclick="@(() => FlipCard(contact))" class="btn btn-secondary"><i class="fas fa-plus-square"></i></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">@contact.Contact.DisplayName</h4>
                                        @if (contact.Contact.DisplayDescription)
                                        {
                                            <p class="card-text">@contact.Contact.Description</p>
                                        }
                                    </div>
                                    <div class="card-footer">
                                        @if (contact.Contact.SocialNetworkConnected?.Any() == true)
                                        {
                                        <ul class="list-inline">
                                            <Virtualize Items="contact.Contact.SocialNetworkConnected" Context="socialNetwork">
                                                <a href="@socialNetwork.Url" target="_blank">
                                                    <img alt="image" src="assets/img/social/@(socialNetwork.Name).svg" style="  width:16px;text-align:center" />
                                                </a>
                                            </Virtualize>
                                        </ul>
                                        }
                                        <a @onclick="@(() => GotoContact(contact))" class="btn btn-secondary"><i class="fas fa-eye"></i></a>
                                        <a @onclick="@(() => flipedFrontCard = null)" class="btn btn-secondary"><i class="fas fa-minus-square"></i></a>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </Virtualize>
    </div>
</div>
@if (ModalDisplayVideo)
{
    <div class="modal fade show effect-open" id="myModal" style="display:block;z-index:9999999;height:550px; max-height:550px;" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="userVideo">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@(()=>ModalDisplayVideo=false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls src="@ViewContact.VideoProfileUrl" poster="@ViewContact.VideProfileCoverUrl"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
