@page "/contact/list"
@using System.Net.Http

@attribute [Microsoft.AspNetCore.Authorization.Authorize]

@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<Contacts> Loc


<section class="section">
    <div class="mt-4">
        <label style="font-size: 30px; font-weight: 600; color: black;" class="">@Loc["Title"]</label>

        <button type="button" class="btn" @onclick="ToggleAddContact" style="float:right"><i class="fas fa-user-plus" style="font-size: 30px"></i></button>
    </div>
    <div class="section-header p-0">
        <div class="input-group">
            <input type="search" placeholder="@Loc["Search"]" class="col-8 form-control" @bind="TermMyContacts" @oninput="CountSearchAll">
            <span class="input-group-btn" style="position:relative;background: #F5F8FA; line-height: 50px;">
                <button type="button" class="btn" @onclick="() => Showfilter = !Showfilter" style="border-radius: 0; border-left: 1px solid grey;border-right:1px solid grey;font-size: 15px; font-weight: 400">@(FilterSelected == null ? Loc["ByFilter"] : "par " + FilterSelected.Name)<i class="pl-1 fas fa-caret-down"></i></button>
                <button type="button" class="btn" @onclick="SearchAll"><i class="fa fa-2x fa-search"></i></button>
                <button type="button" class="btn @(IsRequestsDisplayed ? "btn-success" : "btn-primary")" title="@Loc["DisplayRequests"]" @onclick="ToggleDisplayRequests"><i class="fas fa-eye"></i></button>
                
                @if (User.IsAdmin || User.IsUnlimited || User.IsUltimate)
                {
                    <button type="button" title="@Loc["DisplayOrganization"]" class="btn @(IsOrganizationFiltered ? "btn-success" : "btn-primary")" @onclick="ToggleDisplayOrganization"><i class="fa fa-building"></i></button>
                    <button type="button" title="@Loc["DisplayTeam"]" class="btn @(IsTeamFiltered ? "btn-success" : "btn-primary")" @onclick="ToggleDisplayTeam"><i class="fas fa-users"></i></button>
                }
                
                @if (Showfilter)
                {
                    <div style="z-index: 999999; background: #F5F8FA; position: absolute; width: 150px; height: 400px; overflow-y: auto;">
                        <ul style="cursor:pointer; list-style: none; color:#97AABD;" class="p-0 pl-3 m-0">
                            <Virtualize Items="Countries" Context="country">
                                <li @onclick="() => SelectFilter(country)" class="pt-2 pb-2">@country.Name</li>
                            </Virtualize>
                        </ul>
                    </div>
                }

            </span>
        </div>
    </div>
    <div class="row justify-content-center">
        <ContactList Items="Items" Loc="Loc"></ContactList>
    </div>
</section>

@if (ShowContactAddModal)
{
    <ModalDefault Title="@Loc["SearchContact"]" ModalCancelClicked="() => ShowContactAddModal = ShowfilterExt = false" WidthModal="modal-lg">
        <Body>
            <div class="section-header">
                <div class="input-group">
                    <input type="search" @onkeyup="@Enter" placeholder="@Loc["Search"]" id="searchContact" name="searchContact" class="col-8 form-control" @bind="Term" @oninput="CountSuggestion">
                    <span class="input-group-btn" style="position:relative;background: #F5F8FA; line-height: 50px;">
                        <button type="button" class="btn" @onclick="() => ShowfilterExt = !ShowfilterExt" style="border-radius: 0; border-left: 1px solid grey;border-right:1px solid grey;font-size: 15px; font-weight: 400">@(FilterSelected == null ? Loc["ByFilter"] : "par " + FilterSelected.Name)<i class="pl-1 fas fa-caret-down"></i></button>
                        <button type="button" class="btn" @onclick="GetSuggestions"><i class="fa fa-2x fa-search"></i></button>
                        @if (ShowfilterExt)
                        {
                            <div style="z-index: 999999; background: #F5F8FA; position: absolute; width: 150px; height: 400px; overflow-y: auto;">
                                <ul style="cursor:pointer; list-style: none; color:#97AABD;" class="p-0 pl-3 m-0">
                                    <Virtualize Items="Countries" Context="country">
                                        <li @onclick="() => SelectFilter(country)" class="pt-2 pb-2">@country.Name</li>
                                    </Virtualize>
                                </ul>
                            </div>
                        }

                    </span>
                </div>
                @*<div class="input-group">
                        <input type="search" @onkeyup="@Enter" placeholder="@Loc["Search"]" id="searchContact" name="searchContact" class="form-control" @bind="Term" @oninput="CountSuggestion">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-lg" @onclick="GetSuggestions"><i class="fa fa-2x fa-search"></i></button>
                        </span>
                        <div class="search-backdrop"></div>
                    </div>*@
            </div>
            <div class="section-body mt-2">
                <div class="container">
                    <div class="card card-default" id="card_contacts">
                        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">
                            <!-- contacts card -->
                            <ul class="list-group pull-down" id="contact-list">
                                <Virtualize Items="SuggestionItems" Context="Contact">
                                    <li class="list-group-item">
                                        <div class="row w-100">
                                            <div class="col-12 col-sm-6 col-md-3 px-0">
                                                <UserPhotoControl User="Contact.Contact" Loc="Loc" Width="@(ScreenSize?.IsSmall == true ? 36 : 160)" Height="@(ScreenSize?.IsSmall == true ? 36 : 160)" Left="12%"></UserPhotoControl>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                                                @if (Contact.Contact.IsOnline)
                                                {<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>}
                                                <label class="name lead">@Contact.Contact.DisplayName</label>
                                                <br>
                                                <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="@Contact.Contact.Address  - @Contact.Contact.City  - @Contact.Contact.Country"></span>
                                                <span class="text-muted">@Contact.Contact.Address - @Contact.Contact.City - @Contact.Contact.Country</span>
                                                <br>
                                                <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="@Contact.Contact.PhoneNumber"></span>
                                                <span class="text-muted small">@Contact.Contact.PhoneNumber</span>
                                                <br>
                                                <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                                                <span class="text-muted small text-truncate">@Contact.Contact.Email</span>
                                                <hr />
                                                @if (Contact.UserAccepted == EnumUserAccepted.NO_REQUEST)
                                                {
                                                    <button class="btn btn-primary" @onclick="@(async () => await Add(Contact))"><i class="fas fa-user-plus"></i>&nbsp;@Loc["SendInviter"]</button>
                                                }
                                                else
                                                {
                                                    switch (Contact.UserAccepted)
                                                    {
                                                        case EnumUserAccepted.PENDING:
                                                            {
                                                                <span class="badge badge-default">@Loc["InvitationPending"]</span>
                                                                break;
                                                            }
                                                        case EnumUserAccepted.REJECT:
                                                            {
                                                                <span class="badge badge-warning">@Loc["InvitationRefused"]</span>
                                                                {<button class="btn btn-primary" @onclick="@(async () => await Add(Contact))"><i class="fas fa-user-plus"></i>&nbsp;@Loc["ReSendInvitation"]</button>}
                                                            break;
                                                        }

                                                }
                                            }
                                            </div>

                                        </div>
                                    </li>
                                </Virtualize>
                            </ul>
                        </div>
                        <!--/contacts list-->
                    </div>
                </div>
            </div>
        </Body>
    </ModalDefault>
}