@page "/contact/import/{ProfileId}"
@using System.Net.Http
@using Abeer.Client
@using Abeer.Shared
@using Abeer.Shared.ViewModels
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject Microsoft.Extensions.Localization.IStringLocalizer<ImportContact> Loc
@inject HttpClient HttpClient
@code
{ 
    public bool IsValid { get; set; }

        [Parameter]
        public string ProfileId { get; set; }

        public Contact Contact { get; set; }
        public string StatusCode { get; set; }

        public string ErrorDetail { get; set; }

        protected override async Task OnParametersSetAsync()
        {
            if (!string.IsNullOrEmpty(ProfileId))
            {
                var response = await HttpClient.GetAsync($"/api/Contacts/import/{ProfileId}");
                response.EnsureSuccessStatusCode();
                var json = await response.Content.ReadAsStringAsync();
                var result = Newtonsoft.Json.JsonConvert.DeserializeObject<ImportContactResultViewModel>(json);
                IsValid = result.IsValid;
                Contact = result.Contact;
                StatusCode = result.StatusCode;
                switch (StatusCode)
                {
                    case "SelfReference":
                        ErrorDetail = Loc["SelfReference"];
                        break;
                    case "Duplicate":
                        ErrorDetail = Loc["Duplicate"];
                        break;
                    default:
                        break;
                }
            }

            await base.OnParametersSetAsync();
        } 
    }
<!-- Main Content -->
<section class="section">
    <div class="section-header">
        <h1>@Loc["ImportContact"]</h1>
    </div>
    <div class="section-body">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="container bootstrap snippets bootdey">
                            <div class="row">
                                @if (IsValid && Contact != null)
                                {
                                    <div class="col-12alert alert-success">
                                        <h4>@Loc["MessageSuccess"]</h4>
                                        <a href="@($"/ViewProfile/{Contact.UserId}")">@Loc["ViewContact"]</a>
                                        <a href="Contacts"><i class="fas fa-users"></i>@Loc["Contacts"]</a>
                                    </div> 
                                }
                                else
                                {
                                    <div class="col-12 alert alert-danger">
                                        @ErrorDetail
                                        @if (Contact != null)
                                        {
                                            <a href="@($"/ViewProfile/{Contact.UserId}")">@Loc["ViewContact"]</a>
                                        }
                                        else
                                        {
                                            <a href="/">@Loc["ReturnToHomePage"]</a>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>