@page "/ads"
@inject IHttpClientFactory HttpClientFactory
@inject Microsoft.Extensions.Localization.IStringLocalizer<Ads> Loc

@code
{
    public string Term { get; set; }

    List<Abeer.Shared.Functional.AdModel> All = new List<Abeer.Shared.Functional.AdModel>();
    List<Abeer.Shared.Functional.AdModel> Items = new List<Abeer.Shared.Functional.AdModel>();

    void countTerm(KeyboardEventArgs e)
    {
        if (Term.Length > 5)
            Search();
    }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("Abeer.Anonymous");
        var getAll = await httpClient.GetAsync("/api/ad/visibled");
        getAll.EnsureSuccessStatusCode();
        var json = await getAll.Content.ReadAsStringAsync();
        All = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Abeer.Shared.Functional.AdModel>>(json);
        Items = All.ToList();
    }

    void Search()
    {
        Items = All.Where(a => a.Title.Contains(Term) || a.Description.Contains(Term)).ToList();
    }
}

<section class="section">
    <div class="section-header">
        <h1>@Loc["Title"]</h1>
        <div class="input-group">
            <input type="search" id="example-input1-group2" name="example-input1-group2" class="form-control" @bind="Term" @onkeyup="countTerm">
            <span class="input-group-btn">
                <button type="button" class="btn btn-lg" @onclick="Search"><i class="fa fa-2x  fa-search"></i></button>
            </span>
            <div class="search-backdrop"></div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                @foreach (var ad in Items)
                {
                    <div class="card">
                        <div class="card-header">
                            <h4>@ad.Title</h4>
                            <div class="card-header-action">
                                <a data-dismiss="#mycard-dimiss" class="btn btn-icon btn-primary" href="#">@ad.Price.FormatCurrency()</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="mb-2">
                                @ad.Description
                            </p>
                            <div class="gallery gallery-md">
                                <div class="gallery-item" data-image="@ad.Url1" data-title="Image 1" href="@ad.Url1" title="Image 1" style="background-image: url(&quot;@ad.Url1&quot;);"></div>
                                <div class="gallery-item" data-image="@ad.Url2" data-title="Image 1" href="@ad.Url2" title="Image 2" style="background-image: url(&quot;@ad.Url2&quot;);"></div>
                                <div class="gallery-item" data-image="@ad.Url3" data-title="Image 1" href="@ad.Url3" title="Image 3" style="background-image: url(&quot;@ad.Url3&quot;);"></div>
                                <div class="gallery-item" data-image="@ad.Url4" data-title="Image 1" href="@ad.Url4" title="Image 4" style="background-image: url(&quot;@ad.Url4&quot;);"></div>
                            </div>
                        </div>
                    </div>
                }
                <a class="btn btn-lg btn-info" href="CreateAd"><i class="fas fa-upload" style="font-size:45px"></i><h5>@Loc["PublishYourAd"]</h5></a>
            </div>
        </div>
    </div>
</section>