@code
{
    [Parameter]
    public Microsoft.Extensions.Localization.IStringLocalizer Loc { get; set; }
    [Parameter]
    public Abeer.Shared.Functional.AdModel Ad { get; set; }
    [Parameter]
    public Boolean Editable { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnEditClicked { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnDeleteClicked { get; set; }
}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4>
                @Ad.Title <span class="badge badge-primary">@Ad.ViewCount</span> @if (Ad.StartDisplayTime <= DateTime.UtcNow)
                {
                    if (Ad.EndDisplayTime >= DateTime.UtcNow)
                    {
                        <span class="badge badge-success">@Loc["OnlineBetween"] @Ad.StartDisplayTime / @Ad.EndDisplayTime</span>
                    }
                    else
                    {
                        <span class="badge badge-success">@Loc["NotOnlineSince"] @Ad.EndDisplayTime</span>
                    }
                }
                else
                {
                    <span class="badge badget-secondary">@Loc["WillBeOnline"] @Ad.StartDisplayTime</span>
                }
            </h4>
            <div class="card-header-action">
                <a data-dismiss="#mycard-dimiss" class="btn btn-icon btn-primary" href="#">@Ad.Price</a>
            </div>
        </div>
        <div class="card-body">
            <p class="mb-2">
                @Ad.Description
            </p>
            <div class="row col-12">
                <div class="gallery gallery-md">
                    @if (!string.IsNullOrWhiteSpace(Ad.ImageUrl1))
                    {
                        <div class="gallery-item" data-image="@Ad.ImageUrl1" data-title="Image 1" href="@Ad.ImageUrl1" title="Image 1" style="background-image: url(&quot;@Ad.ImageUrl1&quot;);"></div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Ad.ImageUrl2))
                    {
                        <div class="gallery-item" data-image="@Ad.ImageUrl2" data-title="Image 1" href="@Ad.ImageUrl2" title="Image 2" style="background-image: url(&quot;@Ad.ImageUrl2&quot;);"></div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Ad.ImageUrl3))
                    {
                        <div class="gallery-item" data-image="@Ad.ImageUrl3" data-title="Image 1" href="@Ad.ImageUrl3" title="Image 3" style="background-image: url(&quot;@Ad.ImageUrl3&quot;);"></div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Ad.ImageUrl4))
                    {
                        <div class="gallery-item" data-image="@Ad.ImageUrl4" data-title="Image 1" href="@Ad.ImageUrl4" title="Image 4" style="background-image: url(&quot;@Ad.ImageUrl4&quot;);"></div>
                    }
                </div>
            </div>
            @if (Editable)
            {
                <button class="btn btn-primary" @onclick="@OnEditClicked"><i class="fas fa-pen-square"></i></button>
                <button class="btn btn-danger" @onclick="@OnDeleteClicked"><i class="fas fa-trash-alt"></i></button>
            }
        </div>
    </div>
</div>