@code
{
    [Parameter]
    public Microsoft.Extensions.Localization.IStringLocalizer Loc { get; set; }
    [Parameter]
    public Abeer.Shared.Functional.AdModel Ad { get; set; }
    [Parameter]
    public Boolean Editable { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnEditClicked { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnDeleteClicked { get; set; }
}
    <div class="card">
        <div class="card-header">
            <h4>
                @Ad.Title
            </h4>
            <div class="card-header-action">
                <span class="btn btn-icon btn-primary" href="#">@Ad.Price €</span>
            </div>
        </div>
        <div class="card-body">
            <p class="mb-2">
                @Ad.Description
            </p>
            <div class="row col-12 mb-2">
                <div class="gallery gallery-md">
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl1))
                    {
                        <img class="gallery-item" src="@Ad.ImageUrl1" />
                    }
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl2))
                    {
                        <img class="gallery-item" src="@Ad.ImageUrl2" />
                    }
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl3))
                    {
                        <img class="gallery-item" src="@Ad.ImageUrl3" />
                    }
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl4))
                    {
                        <img class="gallery-item" src="@Ad.ImageUrl4" />
                    }
                </div>
            </div>
            <div class="row col-12">
                @if (!string.IsNullOrEmpty(Ad.Url1))
                {
                    <a href="@Ad.Url1" class="mr-2">@Ad.Url1</a>
                }
                @if (!string.IsNullOrEmpty(Ad.Url2))
                {
                    <a href="@Ad.Url2" class="mr-2">@Ad.Url2</a>
                }
                @if (!string.IsNullOrEmpty(Ad.Url3))
                {
                    <a href="@Ad.Url3"  class="mr-2">@Ad.Url3</a>
                }
                @if (!string.IsNullOrEmpty(Ad.Url4))
                {
                    <a href="@Ad.Url4"  class="mr-2">@Ad.Url4</a>
                }

            </div>
           
            @if (Editable)
            {
                <div class="fixed-bottom m-5">
                    <button class="btn btn-primary btn-circle btn-xl float-right ml-2" @onclick="@OnEditClicked"><i class="fas fa-pen-square"></i></button>
                    <button class="btn btn-danger btn-circle btn-xl float-right ml-2" @onclick="@OnDeleteClicked"><i class="fas fa-trash-alt"></i></button>
                </div>
            }
        </div>
        <div class="card-footer">
            <p>
                @Loc["ViewCount"] <span class="badge badge-primary">@Ad.ViewCount</span>
            </p>
            <p>
                @if (Ad.StartDisplayTime <= DateTime.UtcNow)
                {
                    if (Ad.EndDisplayTime >= DateTime.UtcNow)
                    {
                        <i >@Loc["OnlineBetween"] @Ad.StartDisplayTime / @Ad.EndDisplayTime</i>
                    }
                    else
                    {
                        <i >@Loc["NotOnlineSince"] @Ad.EndDisplayTime</i>
                    }
                }
                else
                {
                    <i >@Loc["WillBeOnline"] @Ad.StartDisplayTime</i>
                }
            </p>
        </div>
    </div>
