@page "/CreateAd"
@using Abeer.Shared.Functional
@inject Microsoft.Extensions.Localization.IStringLocalizer<CreateAd> Loc
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

@code
{
    public string Step { get; set; } = "Step1";
    public AdModel Ad { get; set; } = new AdModel();
    public AdPrice CurrentPrice { get; set; } = new AdPrice();

    public List<AdPrice> AdPrices { get; set; } = new List<AdPrice>();

    async Task Step2()
    {
        Step = "Step2";

        var httpClient = HttpClientFactory.CreateClient("Abeer.Anonymous");
        var getAll = await httpClient.GetAsync("/api/adprice");
        getAll.EnsureSuccessStatusCode();
        var json = await getAll.Content.ReadAsStringAsync();
        AdPrices = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Abeer.Shared.Functional.AdPrice>>(json);

        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

    async Task SelectPrice(AdPrice currentPrice)
    {
        CurrentPrice = currentPrice;
        Step = "Step3";
        await InvokeAsync(StateHasChanged);
    }

    bool PublishHasError;

    async Task ValidAd()
    {
        var CreateAdRequest = new CreateAdRequestViewModel
        {
            Ad = Ad,
            Price = CurrentPrice
        };

        var httpClient = HttpClientFactory.CreateClient("Abeer.Anonymous");
        var response = await httpClient.PostAsJsonAsync<CreateAdRequestViewModel>("/api/Ad", CreateAdRequest);
        PublishHasError = !response.IsSuccessStatusCode;

        if (!PublishHasError)
        {
            var json = await response.Content.ReadAsStringAsync();
            var Ad = Newtonsoft.Json.JsonConvert.DeserializeObject<AdModel>(json);
            NavigationManager.NavigateTo($"/ValidAd/{Ad.Id}", true);
        }

        await InvokeAsync(StateHasChanged);
    }

    async Task ProcessPayment()
    {
        var CreateAdRequest = new CreateAdRequestViewModel
        {
            Ad = Ad,
            Price = CurrentPrice
        };

        var httpClient = HttpClientFactory.CreateClient("Abeer.Anonymous");
        var response = await httpClient.PostAsJsonAsync<CreateAdRequestViewModel>("/api/Ad", CreateAdRequest);
        PublishHasError = !response.IsSuccessStatusCode;

        if (!PublishHasError)
        {
            var json = await response.Content.ReadAsStringAsync();
            var Ad = Newtonsoft.Json.JsonConvert.DeserializeObject<AdModel>(json);
            NavigationManager.NavigateTo(NavigationManager.ToAbsoluteUri($"PayAd/{Ad.Id}").ToString(), true);
        }

        await InvokeAsync(StateHasChanged);
    }
}

@if (Step == "Step1")
{
    <section class="section">
        <div class="section-header">
            <h1>@Loc["Title"]</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["AdTitle"]</label>
                    <input type="text" Class="form-control" @bind="Ad.Title" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Description"]</label>
                    <textarea type="text" Class="form-control" rows="6" @bind="Ad.Description" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Price"]</label>
                    <input type="number" Class="form-control" @bind="Ad.Price" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Url1"]</label>
                    <input type="url" Class="form-control" @bind="Ad.Url1" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Url2"]</label>
                    <input type="url" Class="form-control" @bind="Ad.Url2" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Url3"]</label>
                    <input type="url" Class="form-control" @bind="Ad.Url3" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Url4"]</label>
                    <input type="url" Class="form-control" @bind="Ad.Url4" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" @onclick="Step2"><i class="fas fa-upload"></i>@Loc["StartPublish"]</button>
                    <a href="Ads" class="btn btn-warning">@Loc["Cancel"]</a>
                </div>
            </div>
        </div>
    </section>
}
else if (Step == "Step2")
{
    <section class="section">
        <div class="section-header">
            <h1>@Loc["Title"]</h1>
            <h2>@Ad.Title</h2>
        </div>
        <div class="card">
            <div class="card-body">
                @foreach (var price in AdPrices)
                {
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="card profile-widget border">
                            <div class="profile-widget-header">
                                <h4>@price.PriceName</h4>
                            </div>
                            <div class="profile-widget-description pb-0">
                                <div class="profile-widget-name">@price.PriceDescription</div>
                            </div>
                            <button type="submit" class="btn btn-success" @onclick="@(async ()=>await SelectPrice(price))">@Loc["Select"]</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else if (Step == "Step3")
{
    <section class="section">
        <div class="section-header">
            <h1>@Loc["Title"]</h1>
            <h2>@Ad.Title</h2>
        </div>
        <div class="card">
            <div class="card-body">
                @if (PublishHasError)
                {
                    <div class="alert alert-danger">
                        @Loc["PublishError"]
                    </div>
                }
                <h3>@Loc["Summary"]</h3>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["AdTitle"]</label>
                    <input type="text" Class="form-control" @bind="Ad.Title" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Description"]</label>
                    <textarea type="text" Class="form-control" rows="6" @bind="Ad.Description" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Price"]</label>
                    <input type="number" Class="form-control" @bind="Ad.Price" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Url1"]</label>
                    <input type="url" Class="form-control" @bind="Ad.Url1" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Url2"]</label>
                    <input type="url" Class="form-control" @bind="Ad.Url2" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Url3"]</label>
                    <input type="url" Class="form-control" @bind="Ad.Url3" />
                </div>
                <div class="form-group col-6 col-sm-12">
                    <label>@Loc["Url4"]</label>
                    <input type="url" Class="form-control" @bind="Ad.Url4" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card profile-widget border">
                        <div class="profile-widget-header">
                            <h4>@CurrentPrice.PriceName</h4>
                        </div>
                        <div class="profile-widget-description pb-0">
                            <div class="profile-widget-name">@CurrentPrice.PriceDescription</div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-info">
                    @Loc["RequireLogin"]
                </div>
                <div class="form-group">
                    @if (CurrentPrice.Value == 0)
                    {
                        <button type="submit" class="btn btn-success" @onclick="@(async () => await ValidAd())"><i class="fas fa-upload"></i>@Loc["ValidAd"]</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success" @onclick="@(async () => await ProcessPayment())"><i class="far fa-credit-card"></i>@Loc["ProcessPayment"]</button>
                    }
                </div>
            </div>
        </div>
    </section>
}