@page "/Profile/Edit"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditProfile> Loc

<section class="section">
    <div class="section-header">
        <h1>@Loc["UserProfile"]</h1>
    </div>
    @if (ModalChangePassword)
    {
        <div class="modal fade show" id="modalChangePassword" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@Loc["ChangePassword"]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@(() => ModalChangePassword = false)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (ChangePasswordHasError)
                        {
                            <div class="alert alert-danger">
                                @ChangePasswordError
                            </div>}
                        <div class="form-group">
                            @Loc["OldPassword"]
                            <input type="password" class="form-control" @bind="OldPassword" />
                        </div>
                        <div class="form-group">
                            @Loc["NewPassword"]
                            <input type="password" class="form-control" @bind="NewPassword" />
                        </div>
                        <div class="form-group">
                            @Loc["ConfirmPassword"]
                            <input type="password" class="form-control" @bind="ConfirmPassword" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-success" @onclick="ChangePassword">@Loc["ChangePassword"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ModalSocialNetworkVisible)
    {
        <div class="modal fade show" id="modalSocialNetwork" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@Loc["AddASocialNetwork"]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ToggleModalSocialNetwork">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card m-2">
                            <div class="form-group">
                                @Loc["SocialType"]
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @if (!string.IsNullOrEmpty(NewSocialLink.Name))
                                    {
                                        <i class="@NewSocialLink.Logo"></i><span>@NewSocialLink.Name</span>}
                                </a>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <ul class="list-inline">
                                            @foreach (var item in AvailableSocialNetworksToAdd)
                                            {
                                                <li class="list-inline-item"><a href="javascript:void(0)" @onclick="@(()=>SetSocialNetwork(item.Name, item.BackgroundColor, item.Logo))"><i class="@item.Logo" style="font-size:55px"></i><br /><span>@item.Name</span></a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                @Loc["SocialUrl"]
                                <input type="url" @bind="NewSocialLink.Url" class="form-control" />
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success" @onclick="AddSocialNetwork">@Loc["AddASocialNetwork"]</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (ModalCustomLinkVisible)
    {
        <div class="modal fade show" id="modalCustomLink" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@Loc["AddCustomLink"]</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ToggleModalCustomLink">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card m-1">
                            <div class="form-group">
                                @Loc["Name"]
                                <input @bind="NewCustomLink.Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                @Loc["BackgroundColor"]
                                <input @bind="NewCustomLink.BackgroundColor" class="form-control" />
                            </div>
                            <div class="form-group">
                                @Loc["Logo"]
                                <input @bind="NewCustomLink.Logo" class="form-control" />
                            </div>
                            <div class="form-group">
                                @Loc["Url"]
                                <input type="url" @bind="NewCustomLink.Url" class="form-control" />
                            </div>
                        </div>
                        <div class="text-center"><button class="btn btn-success" @onclick="AddCustomLink">@Loc["AddCustomLink"]</button></div>
                    </div>
                </div>
            </div>
        </div>
    }

    <EditForm Model="User">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-lg-6  col-sm-12">
                        <label>@Loc["DisplayName"]</label>
                        <input type="text" @bind="@User.DisplayName" Class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6 col-sm-12">
                        <label>@Loc["Email"]</label>
                        <input type="text" @bind="@User.Email" Class="form-control" />
                    </div>
                    <div class="form-group col-lg-6 col-sm-12">
                        <label>@Loc["Phone"]</label>
                        <input type="text" Class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6  col-sm-12">
                        <label>@Loc["FirstName"]</label>
                        <input type="text" @bind="@User.FirstName" Class="form-control" />
                    </div>
                    <div class="form-group col-lg-6 col-sm-12">
                        <label>@Loc["LastName"]</label>
                        <input type="text" @bind="@User.LastName" Class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6 col-sm-12">
                        <label>@Loc["City"]</label>
                        <input type="text" @bind="@User.City" Class="form-control" />
                    </div>
                    <div class="form-group col-lg-6 col-sm-12">
                        <label>@Loc["Country"]</label>
                        <input type="text" @bind="@User.Country" Class="form-control" />
                    </div>
                </div>

                @if (SocialNetworkConnected?.Count > 0)
                {
                    <h5>@Loc["SocialNetworkConnected"]</h5>
                    <div class="row ml-2">
                        <ul class="list-inline">
                            @foreach (var socialNetwork in SocialNetworkConnected)
                            {
                                <li class="list-inline-item list-unstyled-noborder">
                                    <a href="@socialNetwork.Url" target="_blank" class="text-center">
                                        <i class="@socialNetwork.Logo" style="font-size: 55px;">

                                        </i>

                                    </a>
                                    <span class="badge position-absolute"><a @onclick="@(()=>DeleteSocialNetwork(socialNetwork))"><i class="fa fa-2x fa-times"></i></a></span>
                                    <br />
                                    <span>@socialNetwork.Name</span>
                                </li>

                            }
                        </ul>
                    </div>
                }
                @if (CustomLinks?.Count > 0)
                {
                    <h5>@Loc["CustomLinks"]</h5>
                    <div class="row">
                        <ul class="list-inline">
                            @foreach (var customLink in CustomLinks)
                            {
                                <li class="list-inline-item list-unstyled-noborder">
                                    <a href="@customLink.Url" target="_blank">
                                        <i class="@customLink.Logo" style="font-size:55px;"></i>
                                    </a>
                                    <span class="badge position-absolute"> <a @onclick="@(()=>DeleteCustomLink(customLink))"><i class="fa fa-2x fa-times"></i></a></span>
                                    <br />
                                    <span>@customLink.Name</span>
                                </li>
                            }
                        </ul>
                    </div>

                }
            </div>

            <div class="card-footer text-right">
                <button type="button" class="btn btn-primary" @onclick="OpenModalCustomLink" data-toggle="tooltip" data-html="true" title="@Loc["AddCustomLinks"]"><i class="fa fa-2x fa-link"></i></button>
                <button type="button" class="btn btn-primary" @onclick="OpenModalSocialNetwork" data-toggle="tooltip" data-html="true" title="@Loc["AddASocialNetwork"]"><i class="fa fa-2x fa-hashtag"></i></button>
                <button type="button" class="btn btn-primary" @onclick="ToogleChangePassword" data-toggle="tooltip" data-html="true" title="@Loc["ChangePassword"]"><i class="fa fa-2x fa-key"></i></button>
                <button type="submit" class="btn btn-success" @onclick="Update" data-toggle="tooltip" data-html="true" title="@Loc["Save"]"><i class="fa fa-2x fa-save"></i></button>
            </div>
        </div>
    </EditForm>
</section>