@page "/MyAds"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject HttpClient HttpClient
@inject Microsoft.Extensions.Localization.IStringLocalizer<MyAds> Loc
@code
{
    List<Abeer.Shared.Functional.AdModel> Ads = new List<Abeer.Shared.Functional.AdModel>();
    bool ModalEditAdVisible;
    Abeer.Shared.Functional.AdModel Current = new Abeer.Shared.Functional.AdModel();
    bool UpdateHasError;
    bool ModalDeleteAdVisible;
    bool DeleteHasError;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        var getAds = await HttpClient.GetAsync("/api/Ad");
        getAds.EnsureSuccessStatusCode();
        var json = await getAds.Content.ReadAsStringAsync();
        Ads = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Abeer.Shared.Functional.AdModel>>(json);
    }

    void OpenEditModal(Abeer.Shared.Functional.AdModel ad)
    {
        Current = ad;
        ModalEditAdVisible = true;
    }

    void OpenDeleteModal(Abeer.Shared.Functional.AdModel adModel)
    {
        Current = adModel;
        ModalDeleteAdVisible = true;
    }

    async Task Update()
    {
        var update = await HttpClient.PutAsJsonAsync<Abeer.Shared.Functional.AdModel>("/api/Ad", Current);
        update.EnsureSuccessStatusCode();
        ModalEditAdVisible = false;
        await InvokeAsync(StateHasChanged);
    }

    async Task Delete()
    {
        var update = await HttpClient.DeleteAsync($"/api/adss/{Current.Id}");
        update.EnsureSuccessStatusCode();
        ModalDeleteAdVisible = false;
        await InvokeAsync(StateHasChanged);
    }
}
@if (ModalEditAdVisible)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Loc["EditAdTitle"]</h4>
                </div>
                <div class="modal-body">
                    <FormAd Current="Current" Disabled="false" FormHasError="UpdateHasError" FormError="@Loc["UpdateFailedError"]" Loc="Loc"></FormAd>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" @onclick="@(() => ModalEditAdVisible = false)">@Loc["Cancel"]</button>
                    <button type="button" class="btn btn-success" @onclick="Update">@Loc["Update"]</button>
                </div>
            </div>
        </div>
    </div>
}
@if (ModalDeleteAdVisible)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Loc["DeleteAdTitle"]</h4>
                </div>
                <div class="modal-body">
                    <section class="section">
                        <div class="section-header">
                            <h1>@Loc["Title"]</h1>
                            <h2>@Current.Title</h2>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <FormAd Current="Current" Disabled="true" FormHasError="@DeleteHasError" FormError="@Loc["DeleteFailedError"]" Loc="Loc"></FormAd>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" @onclick="@(() => ModalDeleteAdVisible = false)">@Loc["Cancel"]</button>
                    <button type="button" class="btn btn-success" @onclick="Delete">@Loc["Delete"]</button>
                </div>
            </div>
        </div>
    </div>
}
<section class="section">
    <div class="section-header">
        <h1>@Loc["Title"]</h1>
    </div>
    <div class="section-body">
        @foreach (var Ad in Ads)
        {
            <CardAd Loc="Loc" Ad="Ad" OnEditClicked="@(()=>OpenEditModal(Ad))" OnDeleteClicked="@(()=>OpenDeleteModal(Ad))"></CardAd>
        }
    </div>
</section>

<div class="fixed-bottom m-5">
    <a class="btn btn-danger btn-circle btn-xl float-right ml-2" href="CreateAd" title="@Loc["PublishAnAd"]"><i class="fa fa-2x fa-plus"></i></a>
</div>