@inject NavigationManager navigationManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditProfile> Loc
@code {
    [Inject] private HttpClient HttpClient { get; set; }
    [Parameter]
    public ViewApplicationUser Profile { get; set; }
    private List<QrcodeViewModel> list = new List<QrcodeViewModel>();
    public bool ModalEditQrcode;
    public string KeyWord;

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetAsync($"api/qrcode");
        if (response.IsSuccessStatusCode)
        {
            string json = await response.Content.ReadAsStringAsync();
            list = JsonConvert.DeserializeObject<List<QrcodeViewModel>>(json);
        }

        await base.OnInitializedAsync();
    }
    protected async Task Delete(QrcodeViewModel model)
    {
        var response = await HttpClient.DeleteAsync($"api/qrcode/{Profile.Id}/{model.Id}");
        if (response.IsSuccessStatusCode)
        {
            list.Remove(model);
        }
        await InvokeAsync(StateHasChanged);
    }
    private async Task AddQrCode()
    {
        if (string.IsNullOrEmpty(KeyWord))
        {
            return;
        }
        QrcodeViewModel model = new QrcodeViewModel();
        model.Key = KeyWord;
        model.OwnerId = Guid.Parse(Profile.Id);

        var response = await HttpClient.PostAsJsonAsync($"api/Qrcode", model);

        if (response.IsSuccessStatusCode)
        {
            string json = await response.Content.ReadAsStringAsync();
            var entity = JsonConvert.DeserializeObject<QrcodeViewModel>(json);

            KeyWord = "";
            list.Add(entity);
            ModalEditQrcode = false;
        }
        StateHasChanged();
    }
}
@if (ModalEditQrcode)
{
    <ModalDefault Title="@Loc["MyQrCode"]" ModalValidClicked="AddQrCode" ModalCancelClicked="@(() => ModalEditQrcode = false)" BtnValidLabel="@Loc["Add"]">
        <Body>
            <div class="form-group">
                @Loc["KeyWord"]
                <input type="text" class="form-control" @bind="KeyWord" />
            </div>
        </Body>
    </ModalDefault>
}
<div class="col-12"> 
    <button @onclick="() => ModalEditQrcode = true" class="btn btn-success"><i class="far fa-plus-square"></i></button>
</div>
<div class="row justify-content-center">
    <Virtualize Context="Qrcode" Items="list">
        <div class="text-center pb-3">
            <img alt="qrcode" src="/api/QrCodeGenerator?link=@($"{navigationManager.ToAbsoluteUri($"/viewprofile/{Profile.Id}?social={Qrcode.Key}").ToString()}")" width="160" /><br />
            <span>@Loc["KeyWord"] : @Qrcode.Key</span><br />
            <button @onclick="() => Delete(Qrcode)" class="mt-2 btn btn-danger">@Loc["Delete"]</button>
        </div>
    </Virtualize>
</div>