@page "/Profile"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject Microsoft.Extensions.Localization.IStringLocalizer<UserProfile> Loc

@code
{
    public bool ModalQrCodeVisible { get; set; }

    public void ToggleModal()
    {
        ModalQrCodeVisible = !ModalQrCodeVisible;
    }
}
<section class="section">
    <div class="section-header">
        <h1>My profile</h1>
    </div>
    <div class="section-body">
        <div class="card author-box card-primary">
            <div class="card-body">
                <div class="author-box-left">
                    <img alt="image" src="../assets/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                    <div class="clearfix"></div>
                    <a href="/Profile/Edit" class="btn btn-primary mt-3 follow-btn">Edit profile</a>

                </div>
                <div class="author-box-details">
                    <img alt="qrcode" src="/api/QrCodeGenerator?link=@ProfileUrl" style="width: 100px" @onclick="ToggleModal" />
                    <div class="author-box-name">
                        <a href="#" class="mr-3">@User.DisplayName</a>

                    </div>
                    @if (!string.IsNullOrEmpty(@User.Title))
                    {
                        <div class="author-box-job">@User.Title</div>
                    }
                    @if (!string.IsNullOrEmpty(@User.Description))
                    {
                        <div class="author-box-description">
                            <p>
                                @User.Description
                            </p>
                        </div>
                    }
                    <div class="mb-2 mt-3">
                        <div class="text-small font-weight-bold">Location</div>
                    </div>
                    <div class="mb-2 mt-3">
                        <span>@User.City, @User.Country</span>
                    </div>
                    <div class="mb-2 mt-3">
                        <div class="text-small font-weight-bold">Social Network</div>
                    </div>

                    <div class="row">
                        @if (!string.IsNullOrEmpty(@User.Email))
                        {
                            <div class="col-lg-3 col-md-3 col-sm-12  m-1">
                                @*<a href="mailto:@User.Email">*@ 
                                <a href="">
                                    <img alt="image" src="assets/img/social/mail.png" class="rounded-circle img-thumbnail">
                                </a>
                            </div>
                          
                        }
                        @if (!string.IsNullOrEmpty(@User.PhoneNumber))
                        {
                            <div class="col-lg-3 col-md-3 col-sm-12 m-1">
                                <a href="tel:@User.PhoneNumber" style="max-width:"> 
                                    <img alt="image" src="assets/img/social/phone.png" class="rounded-circle img-thumbnail">
                                </a>
                            </div>
                        }
                        @if (User.SocialNetworkConnected != null)
                        {
                            @foreach (var socialNetwork in User.SocialNetworkConnected)
                            {
                                <div class="col-lg-3 col-md-3 col-sm-12  m-1
                                     f">
                                    <a href="@socialNetwork.Url">
                                        <div class="profile-widget-header">
                                            <img alt="image" src="assets/img/social/@(socialNetwork.Logo.ToLower()).png" class="rounded-circle img-thumbnail">
                                        </div>
                                      </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (ModalQrCodeVisible)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Profile QR Code</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ToggleModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img alt="qrcode" src="/api/QrCodeGenerator?link=@ProfileUrl" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
}
