@page "/services2"
@using System.Security.Claims
@inject Microsoft.Extensions.Localization.IStringLocalizer<Services> Loc

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private AuthenticationState authenticateState { get; set; }
    public bool IsAdmin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        authenticateState = await authenticationStateTask;

        if (authenticateState.User?.Identity.IsAuthenticated == true)
        {
            IsAdmin = (authenticateState.User.Identity.IsAuthenticated && authenticateState.User.HasClaim(ClaimTypes.Role, "admin"));
        }
    } }
<section class="section">
    <div class="section-header">
        <h1>@Loc["Title"]</h1>
    </div>

    <div class="section-body">
        <div class="card card-primary">
            <div class="card-header">
                <h3>@Loc["Business"]</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <a href="profile">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <i class="fa fa-8x fa-id-card rounded-circle profile-widget-picture" style="color: blue"></i>
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">@Loc["Business_description"]</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <a href="contact/list">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <i class="fa fa-8x fa-address-book rounded-circle profile-widget-picture" style="color: blue"></i>
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">@Loc["Contact_description"]</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <a href="ads/myads">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <i class="fa fa-8x fa-ad rounded-circle profile-widget-picture" style="color:blue"></i>
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">@Loc["ad_description"]</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <a href="agencies">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <i class="fa fa-8x fa-store rounded-circle profile-widget-picture" style="color: blue"></i>
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">@Loc["Agencies_description"]</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    @if (authenticateState.User?.Identity.IsAuthenticated == false)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="/Identity/Account/register">
                                <div class="card profile-widget border">
                                    <div class="profile-widget-header">
                                        <i class="fa fa-8x fa-shopping-cart rounded-circle profile-widget-picture" style="color: blue"></i>
                                    </div>
                                    <div class="profile-widget-description pb-0">
                                        <div class="profile-widget-name">@Loc["Register"]</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    @if (authenticateState?.User?.Identity.IsAuthenticated == true)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <a href="subscription-pack">
                                <div class="card profile-widget border">
                                    <div class="profile-widget-header">
                                        <i class="fa fa-8x fa-handshake rounded-circle profile-widget-picture" style="color: blue"></i>
                                    </div>
                                    <div class="profile-widget-description pb-0">
                                        <div class="profile-widget-name">@Loc["Subscribe"]</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (IsAdmin)
        {
            <div class="card card-primary">
                <div class="card-header">
                    <h3>Administration</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <i class="fa fa-8x fa-users rounded-circle profile-widget-picture" style="color: blue"></i>
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">
                                        <a href="Users" target="_blank">@Loc["Users_description"]</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card profile-widget border">
                                <div class="profile-widget-header">
                                    <i class="fa fa-8x fa-credit-card rounded-circle profile-widget-picture" style="color: blue"></i>
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name"><a href="/Cards/manage">@Loc["Cards_description"]</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
