@page "/subscription-pack"
@attribute [Authorize]
@inject Microsoft.Extensions.Localization.IStringLocalizer<SubscriptionPackPage> Loc

<section class="section slide-in-elliptic-top-fwd pt-sm-5">
    <div class="d-none d-md-block d-xl-block">
        <div class="row">
            <div class="col-12 pt-3">
                <header class="offset-lg-ipad-pro offset-md-1 offset-lg-1">
                    <h1 class="h2" style="color:#97AABD;font-weight:400">@Loc["Title"] <strong style="color: #02BF8A">Meetag</strong></h1>
                    <div style="margin-left: -20px; border: 2px solid #02BF8A; width: 25px;"></div>
                    <br />
                </header>
            </div>
        </div>
    </div>
    <div class="section-body mt-ipad-pro-5 mt-md-5">
        <div class="container">
            <div class="row justify-content-center">
                <div style="color:#97AABD;" class="col-md-8 text-center">
                    <h4 class="mb-3">@Loc["PriceTitle"]</h4>
                    <p class="subtitle" style="font-size:18px;">@Loc["Warrenty"]</p>
                </div>
            </div>
            <!-- row  -->
            <div class="row mt-5 justify-content-center">
                <Virtualize Items="listSubscriptionPack" Context="subscription">
                    <!-- column  -->
                    <div class="col-md-4 col-sm-12 " style="position:relative;">
                        <div class="card  mb-4" style=" border-radius: 10px; box-shadow: #DFDFDF 0px 8px 12px 0px">
                            <img src="/assets/img/bg_intro.png" style="position:absolute;left:0;width:100%;z-index:99999;" />
                            <div class="card-body pb-0 mb-0">
                                <div class="text-center" style="margin-top:25%;">
                                    <h3 style="color:#97AABD;padding-bottom:200px;" class="font-weight-medium mb-0">@Loc[subscription.Label]</h3>
                                    @if (subscription.Popuplar)
                                        {
                                    <div class=" " style="color:white; background:#45CA9E;border-radius:5px; position:absolute; top:-14px; right:-20px;">
                                        <span class="badge font-weight-normal p-2">@Loc["Popular"]</span>
                                    </div>
                                        }
                                </div>
                                <div class="row text-center">
                                    <div class="col-12 mt-2">
                                        <h4 class="font-weight-medium" style="color: #97AABD;"><sup>@Loc["Currency"]</sup>@subscription.Price / @Loc["Month"]</h4>
                                    </div>
                                    <div class="cursor-pointer col-12 my-2">
                                        <a style=" font-size: 14px;  background: #F4957D; color: white; font-weight: 400;" class="btn col-lg-8 col-md-12 " @onclick="@(()=>Select(subscription))">@Loc["Select"]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column  -->
                </Virtualize>
            </div>
        </div>
    </div>
</section>