@page "/ProfileEdit"
@using Abeer.Client
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject Microsoft.Extensions.Localization.IStringLocalizer<UserProfile> Loc
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>@Loc["UserProfile"]</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">@Loc["Home"]</a></div>
                <div class="breadcrumb-item"><a href="/MyAccount">@Loc["MyAccount"]</a></div>
                <div class="breadcrumb-item">@Loc["UserProfile"]</div>
            </div>
        </div>
        <div class="section-body">
            <p class="section-lead">@Loc["CatchPhrase"].</p>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="container-fluid bootstrap snippets bootdey">
                                <div class="row">
                                    <div class="col-12">
                                        @if (ModalQrCodeVisible)
                                        {
                                            <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">QR Code</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img alt="qrcode" src="/api/QrCodeGenerator?link=@ProfileUrl" style="width:280px" />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn" @onclick="@(()=>ModalQrCodeVisible = false)">@Loc["Cancel"]</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <EditForm Model="User">
                                            <DataAnnotationsValidator />
                                            <ValidationSummary />
                                            <fieldset>
                                                <div class="form-group">
                                                    <label>@Loc["FirstName"]</label>
                                                    <input type="text" @bind="@User.FirstName" Class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>@Loc["LastName"]</label>
                                                    <input type="text" @bind="@User.LastName" Class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>@Loc["DisplayName"]</label>
                                                    <input type="text" @bind="@User.DisplayName" Class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>@Loc["City"]</label>
                                                    <input type="text" @bind="@User.City" Class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>@Loc["PinCode"]</label>
                                                    <input @bind="@User.PinCode" maxlength="8" Class="form-control" disabled="disabled" />
                                                </div>
                                                <div class="form-group">
                                                    <label>@Loc["PinDigit"]</label>
                                                    <input @bind="@User.PinDigit" maxlength="6" Class="form-control" disabled="disabled"/>
                                                </div>
                                                <div class="form-group">
                                                    @if (User.IsOnline)
                                                    {
                                                        <span class="badge badge-success">@Loc["IsOnline"] @User.LastLogin</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger">@Loc["IsNotOnline"]</span>
                                                    }
                                                </div>
                                                <div class="form-group">
                                                    <label><InputCheckbox disabled="disabled" @bind-Value="@User.IsAdmin" />@Loc["IsAdmin"]</label>
                                                    <label><InputCheckbox disabled="disabled" @bind-Value="@User.IsManager" />@Loc["IsManager"]</label>
                                                    <label><InputCheckbox disabled="disabled" @bind-Value="@User.IsOperator" />@Loc["IsOperator"]</label>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-success" @onclick="Update"><i class="fa fa-save"></i>@Loc["Update"]</button>
                                                    <button type="button" class="btn btn-primary" @onclick="GeneratePinCode"><i class="fa fa-lock-open"></i>@Loc["GeneratePinCode"]</button>
                                                    <button type="button" class="btn btn-primary" @onclick="GenerateTokenKeys"><i class="fab fa-keycdn"></i>@Loc["GenerateTokens"]</button>
                                                    <button type="button" class="btn btn-primary" @onclick="@(()=>ModalQrCodeVisible =true)"><i class="fas fa-qrcode"></i>@Loc["ViewQrCode"]</button>                                                    
                                                </div>
                                            </fieldset>
                                        </EditForm>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>