@inject Microsoft.Extensions.Localization.IStringLocalizer<EditProfile> Loc
@code
{
    public bool ModalQrCodeVisible { get; set; }

    public void ToggleModal()
    {
        ModalQrCodeVisible = !ModalQrCodeVisible;
    }

    [Parameter]
    public bool ReadOnly { get; set; }
    [Parameter]
    public string ProfileUrl { get; set; }
    [Parameter]
    public string DisplayName { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string City { get; set; }
    [Parameter]
    public string Country { get; set; }
    [Parameter]
    public string Email { get; set; }

    [Parameter]
    public string PhotoUrl { get; set; }
    [Parameter]
    public string PhoneNumber { get; set; }
    [Parameter]
    public IEnumerable<SocialNetwork> SocialNetworkConnected { get; set; }
    [Parameter]
    public IEnumerable<CustomLink> CustomLinks { get; set; }

    [Inject] public NavigationManager NavigationManager { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (string.IsNullOrEmpty(PhotoUrl))
        {
            PhotoUrl = "https://www.gravatar.com/avatar.php?gravatar_id=e511eeb916b3fa2202f38abfa29532b0&amp;rating=PG&amp;size=80";
        }

        await InvokeAsync(StateHasChanged);
    }

    async Task GotoEditProfile()
    {
        NavigationManager.NavigateTo(NavigationManager.ToAbsoluteUri("/profile/edit").ToString(), true);
        await InvokeAsync(StateHasChanged);
    }

    async Task GotoContact()
    {
        NavigationManager.NavigateTo(NavigationManager.ToAbsoluteUri("/contact/list").ToString(), true);
        await InvokeAsync(StateHasChanged);
    }

}

<section class="section">
    <div class="section-header">
        <h1>@Loc["Title"]</h1>
    </div>
    <div class="section-body">
        <div class="card author-box card-primary">
            <div class="card-body">
                <div class="author-box-left">
                    <img alt="image" src="@PhotoUrl" class="rounded-circle author-box-picture">
                    @if (!ReadOnly)
                    {
                        <div class="clearfix"></div>
                        <button @onclick="GotoEditProfile" class="btn btn-primary mt-3 follow-btn">@Loc["EditProfile"]</button>
                        <div class="clearfix"></div>
                        <button @onclick="@GotoContact" class="btn btn-primary mt-3 follow-btn">Contacts</button>
                    }

                </div>
                <div class="author-box-details">
                    <img alt="qrcode" src="/api/QrCodeGenerator?link=@ProfileUrl" style="width: 100px" @onclick="ToggleModal" />
                    <div class="author-box-name">
                        <a href="#" class="mr-3">@DisplayName</a>

                    </div>
                    @if (!string.IsNullOrEmpty(Title))
                    {
                        <div class="author-box-job">@Title</div>
                    }
                    @if (!string.IsNullOrEmpty(Description))
                    {
                        <div class="author-box-description">
                            <p>
                                @Description
                            </p>
                        </div>
                    }
                    <div class="mb-2 mt-3">
                        <div class="text-small font-weight-bold">Location</div>
                    </div>
                    <div class="mb-2 mt-3">
                        <span>@City, @Country</span><br />
                        <ul class="list-inline">
                            @if (!string.IsNullOrWhiteSpace(Email))
                            {
                                <li class="list-inline-item list-unstyled-noborder">
                                    <a href="mailto:@Email" class="p-2 w-100">
                                        <img alt="image" src="assets/img/social/mail.png" style="max-width:30px" class="rounded-circle img-thumbnail">
                                        <strong>@Email</strong>
                                    </a>
                                </li>
                            }
                            @if (!string.IsNullOrWhiteSpace(PhoneNumber))
                            {
                                <li class="list-inline-item list-unstyled-noborder">
                                    <a href="tel:@PhoneNumber" class="p-2 w-100">
                                        <img alt="image" src="assets/img/social/phone.png" style="max-width:30px" class="rounded-circle img-thumbnail">
                                        <strong>@PhoneNumber</strong>
                                    </a>
                                </li>
                            }
                        </ul>
                       
                    </div>
                    @if (SocialNetworkConnected != null)
                    {
                        <div class="row col-12">
                            @foreach (var socialNetwork in SocialNetworkConnected)
                            {
                                <div class="card text-white mb-3 mr-1">

                                        <a href="@socialNetwork.Url" target="_blank">
                                            @if (string.IsNullOrWhiteSpace(socialNetwork.Logo))
                                            {
                                                <i class="fas fa-share-alt" style="font-size:50px;width: 50px; text-align: center"></i>
                                            }
                                            else if (socialNetwork.Logo.StartsWith("fa"))
                                            {
                                                <i class="@socialNetwork.Logo" style="font-size:50px; width:50px;text-align:center"></i>
                                            }
                                            else
                                            {
                                                <img alt="image" src="assets/img/social/@(socialNetwork.Logo.ToLower()).png" style="font-size:50px; width:50px;text-align:center">
                                            }
                                        </a>
                                    </div>
                            }
                        </div>
                    }
                    @if (CustomLinks != null)
                    {
                        <div class="row col-12">
                            @foreach (var customLink in CustomLinks)
                            {
                                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;margin:5px">
                                    <div class="card-header">@customLink.Name</div>
                                    <div class="card-body">
                                        <a href="@customLink.Url" target="_blank">
                                            @if(string.IsNullOrEmpty(customLink.Logo))
                                            {
                                                <i class="fas fa-paperclip rounded-circle img-thumbnail" style="font-size:105px; width:155px;text-align:center"></i>
                                            }
                                            else if (customLink.Logo.StartsWith("fa"))
                                            {
                                                <i class="@customLink.Logo rounded-circle img-thumbnail" style="font-size:105px; width:155px;text-align:center"></i>
                                            }
                                            else
                                            {
                                                <img alt="image" src="@(customLink.Logo.ToLower())" class="rounded-circle img-thumbnail">
                                            }
                                            <cite>@customLink.DisplayInfo</cite>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@if (ModalQrCodeVisible)
{
    <div class="modal fade show" id="modalQrCode" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Profile QR Code</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ToggleModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img alt="qrcode" src="/api/QrCodeGenerator?link=@ProfileUrl" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
}

