@namespace Abeer.Client.Shared

@using System.Security.Claims

@code 
{
    protected ClaimsPrincipal _user;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    public string LabelUserList { get; set; }

    [Parameter]
    public string LabelTokenBatches { get; set; }

    [Parameter]
    public string LabelCardList { get; set; }

    [Parameter]
    public string LabelContacts { get; set; }

    [Parameter]
    public string LabelDashboard { get; set; }

    [Parameter]
    public string LabelMyAccount { get; set; }

    [Parameter]
    public string LabelLogout { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var authState = await authenticationStateTask;

        _user = authState.User;
        Console.WriteLine($"User is Authenticated : {_user.Identity.IsAuthenticated} - navMenu for user {_user.FindFirstValue("displayname")}");
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Console.WriteLine("nav menu on initialized called");
    }
}

<nav class="nav navbar navbar-bg navbar-expand-lg">
    <div class="nav navbar-header">
        <a class="navbar-brand" href="/">Abeer</a>
    </div>
    <ul class="nav navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav  navbar-right">
       
        <li class="nav-item">
            <a class="nav-link" href="contacts" title="@LabelContacts"><i style="color: #fff;" class="fa fa-user-friends"><span class="sr-only">@LabelContacts</span></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="profile" title="@LabelMyAccount"><i style="color: #fff;" class="fa fa-user-circle"><span class="sr-only">>@LabelMyAccount</span></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="identity/account/logout?returnUrl=/" title="@LabelLogout"><i style="color: #fff;" class="fa fa-sign-out-alt"><span class="sr-only">@LabelLogout</span></i></a>
        </li>
    </ul>
</nav>