 
<div class="container-fluid contact-list">
    <div @onclick="CloseContact" class="close-contact cursor-pointer"><i style="font-size:25px;" class="fas fa-times"></i></div>
    <div class="row justify-content-center">
        <div class="col-12 chat-contact">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ui class="contacts">
                        <Virtualize Context="ViewContact" Items="StateTchatContainer?.MyContacts">
                            <li @onclick="() => OpenChat(ViewContact)">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="@ViewContact.Contact.PhotoUrl" class="rounded-circle user_img">
                                        <span class="@(ViewContact.Contact.IsOnline || true ? "online_icon" : "offline_icon")"></span>
                                        <span class="@(ViewContact.HasNewMsg ? "new-msg" : "")"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>@ViewContact.Contact.DisplayName</span>
                                        <p>@ViewContact.Contact.Email</p>
                                    </div>
                                </div>
                            </li>
                        </Virtualize>
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>

@if (StateTchatContainer.ModalChatOpen && StateTchatContainer.ContactSelected != null)
{
    <div class="container-fluid tchat">

        <div @onclick="CloseModalTchat" class="close-chat cursor-pointer"><i style="font-size:25px;" class="fas fa-times"></i></div>
        <div class="row justify-content-center">
            <div class="col-12 chat-message">
                <div class="card mb-0">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="@StateTchatContainer.ContactSelected.Contact.PhotoUrl" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>@StateTchatContainer.ContactSelected.Contact.DisplayName</span>
                                <p>@StateTchatContainer.GetListMessage().Count() Messages</p>
                            </div>
                        </div>
                    </div>
                    <div id="msg_card_body" class="card-body msg_card_body">
                        <Virtualize Context="message" Items="StateTchatContainer.GetListMessage()">
                            @if (message.UserIdFrom.ToString() == User.FindFirstValue(ClaimTypes.NameIdentifier))
                            {
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        @message.Text
                                        <span class="msg_time_send">@message.DateSent</span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img src="@User.FindFirstValue("photoUrl")" class="rounded-circle user_img_msg">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="@StateTchatContainer.ContactSelected.Contact.PhotoUrl" class="rounded-circle user_img_msg">
                                    </div>
                                    <div class="msg_cotainer">
                                        @message.Text
                                        <span class="msg_time">@message.DateSent</span>
                                    </div>
                                </div>
                            }
                        </Virtualize>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"></span>
                            </div>
                            <textarea @bind="MsgText" class="form-control type_msg" placeholder="Message..."></textarea>
                            <div class="input-group-append" @onclick="SendMessage">
                                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
} 