@namespace Abeer.Client.Shared
@inherits LayoutComponentBase
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources> Loc
@inject Abeer.Client.UISdk.NavigationUrlService NavigationUrlService
<div id="app">
    <div class="container-fluid">
        <NavMenu LabelContacts="@Loc["ContactList"]"
                 LabelDashboard="@Loc["Dashboard"]"
                 LabelLogout="@Loc["Logout"]"
                 LabelMyAccount="@Loc["MyAccount"]"
                 LabelUserList="@Loc["UserList"]"></NavMenu>

        <div class="main-content" style="min-height: 839px;">
            @Body
        </div>
    </div>

</div>
@*<footer class="main-footer fixed-bottom">
    <div class="text-center">
        <a href="@NavigationUrlService.ProfileUrl" class="btn rounded mr-1 " title="Profile" ><i class="fa fa-3x fa-user"></i></a>
        <a href="@NavigationUrlService.ServicesUrl" class="btn rounded mr-1" title="Services" ><i class="fa fa-3x fa-concierge-bell"></i></a>
    </div>
</footer>*@
