@namespace Abeer.Client.Shared
@inherits LayoutComponentBase
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resources> Loc
@inject Abeer.Client.UISdk.NavigationUrlService NavigationUrlService
<div id="app">
    <div class="container-fluid">
        <NavMenu LabelContacts="@Loc["ContactList"]"
                 LabelDashboard="@Loc["Dashboard"]"
                 LabelLogout="@Loc["Logout"]"
                 LabelMyAccount="@Loc["MyAccount"]"
                 LabelUserList="@Loc["UserList"]"></NavMenu>

        <div class="main-content" style="min-height: 839px;">
            @Body
        </div>
    </div>

</div>
<footer class="main-footer fixed-bottom">
    <div class="text-center">
        <a href="@NavigationUrlService.ProfileUrl" class="btn rounded mr-1" title="Edit" style="font-size:35px"><i class="fa fa-user-edit" style="font-size:45px"></i></a>
        <a href="@NavigationUrlService.ContactsUrl" class="btn rounded mr-1" title="Contacts" style="font-size:35px"><i class="fas fa-users" style="font-size:45px"></i></a>
        <a href="@NavigationUrlService.ServicesUrl" class="btn rounded mr-1" title="Services" style="font-size:35px" target="_blank"><i class="fa fa-concierge-bell" style="font-size:45px"></i></a>
        <a href="@NavigationUrlService.MyAdsUrl" class="btn rounded mr-1" title="MyAds" style="font-size:35px" target="_blank"><i class="fas fa-bullhorn" style="font-size:45px"></i></a>
    </div>
</footer>
