@namespace Abeer.Client.Shared

@using System.Security.Claims
@inject Microsoft.Extensions.Localization.IStringLocalizer<NavMenu> Loc
@inject NavigationManager Navigation

@code
{ protected ClaimsPrincipal _user;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    public string LabelUserList { get; set; }

    [Parameter]
    public string LabelContacts { get; set; }

    [Parameter]
    public string LabelDashboard { get; set; }

    [Parameter]
    public string LabelMyAccount { get; set; }

    [Parameter]
    public string LabelLogout { get; set; }

    public string PhotoUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var authState = await authenticationStateTask;

        _user = authState.User;
        PhotoUrl = _user.FindFirstValue("photoUrl") ?? _user.Identity.GravatarUrl();
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    void Logout()
    {
        Navigation.NavigateTo(Navigation.ToAbsoluteUri("Identity/account/logout?returnUrl=/Profile").ToString(), true);
    }
}
<nav class="p-0 m-0 nav navbar navbar-bg navbar-expand-lg">
    <div class="nav navbar-header">
        <a class="navbar-brand" href="/"><img src="assets/logo.svg" width="50" title="Smart-Click" /></a>
    </div>
    <ul class="nav navbar-nav float-right mr-3" style="position:absolute;right:0;">
        <li class="pr-4 pt-1">
            <a href="profile" class="pr-2 text-center text-light">
                <div>
                    <img src="/assets/img/menu/Search.svg" />
                </div>
                <span>@Loc["Search"]</span>
            </a>
        </li>
        <li class="pr-4 pt-1">
            <a href="profile" class="pr-2 text-center text-light">
                <div>
                    <img src="/assets/img/menu/annonces.svg" />
                </div>
                <span>@Loc["Ads"]</span>
            </a>
        </li>
        <li class="pr-4 pt-1">
            <a href="profile" class="text-center text-light">
                <div>
                    <img src="/assets/img/menu/Profile.svg" />
                </div>
                <span>@Loc["Profile"]</span>
            </a>
        </li>
        <li class="hidden-sm">
            <a href="/Identity/Account/register" class="text-decoration-none col-3">
                <img class="pl-2 pt-2 pb-2" src="/assets/img/services/macarte_sm.svg" style="background: #F5F8FA; width: 100%; height: 60px;" />
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav  navbar-right">
        <li class="dropdown">
            @if (_user?.Identity.IsAuthenticated == true)
                {
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="@PhotoUrl" class="rounded-circle mr-1">
                <div class="d-sm-none d-lg-inline-block">Hi, @_user.FindFirstValue("displayname")</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="profile" class="dropdown-item has-icon">
                    <i class="fa fa-user"></i> @Loc["Profile"]
                </a>
                <a href="services" class="dropdown-item has-icon">
                    <i class="fa fa-concierge-bell"></i> @Loc["Services"]
                </a>
                @if (_user.HasClaim(ClaimTypes.Role, "admin"))
                        {
                <div class="dropdown-divider"></div>
                <a href="Users" class="dropdown-item has-icon">
                    <i class="fa fa-users"></i>  @Loc["Users"]
                </a>
                <a href="/cards/manage" class="dropdown-item has-icon">
                    <i class="far fa-credit-card"></i>  @Loc["Cards"]
                </a>
                <a href="/ads/manage" class="dropdown-item has-icon">
                    <i class="fa fa-ad"></i>  @Loc["Offers"]
                </a>
                <a href="/ads/ManageAdPrices" class="dropdown-item has-icon">
                    <i class="fa fa-money-bill-wave-alt"></i> @Loc["Prices"]
                </a>
                <a href="SocialNetwork" class="dropdown-item has-icon">
                    <i class="fas fa-share-alt"></i> @Loc["SocialNetworks"]
                </a>
                        }
                <div class="dropdown-divider"></div>
                <a @onclick="Logout" class="dropdown-item has-icon text-danger">
                    <i class="fa fa-sign-out-alt"></i> @Loc["Logout"]
                </a>
            </div>
                }
        </li>
    </ul>
</nav>