@namespace Abeer.Client.Shared

@using System.Security.Claims
@inject Microsoft.Extensions.Localization.IStringLocalizer<NavMenu> Loc
@inject  NavigationManager Navigation

@code
{ protected ClaimsPrincipal _user;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    public string LabelUserList { get; set; }

    [Parameter]
    public string LabelContacts { get; set; }

    [Parameter]
    public string LabelDashboard { get; set; }

    [Parameter]
    public string LabelMyAccount { get; set; }

    [Parameter]
    public string LabelLogout { get; set; }

    public string PhotoUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var authState = await authenticationStateTask;

        _user = authState.User;
        PhotoUrl = _user.FindFirstValue("photoUrl") ?? _user.Identity.GravatarUrl();
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    void Logout()
    {
        Navigation.NavigateTo(Navigation.ToAbsoluteUri("Identity/account/logout?returnUrl=/Profile").ToString(), true);
    }
}
<nav class="nav navbar navbar-bg navbar-expand-lg">
    <div class="nav navbar-header">
        <a class="navbar-brand" href="/"><img src="assets/img/icon.png" style="max-height: 33px" title="@Loc["Business"]" />Smart Clik</a>
    </div>
    <ul class="nav navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav  navbar-right">
        <li class="dropdown">
            @if (_user?.Identity.IsAuthenticated == true)
            {
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                    <img alt="image" src="@PhotoUrl" class="rounded-circle mr-1">
                    <div class="d-sm-none d-lg-inline-block">Hi, @_user.FindFirstValue("displayname")</div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="profile" class="dropdown-item has-icon">
                        <i class="fa fa-user"></i> @Loc["Profile"]
                    </a>
                    <a href="services" class="dropdown-item has-icon">
                        <i class="fa fa-concierge-bell"></i> @Loc["Services"]
                    </a>
                    @if (_user.HasClaim(ClaimTypes.Role, "admin"))
                    {
                        <div class="dropdown-divider"></div>
                        <a href="Users" class="dropdown-item has-icon">
                            <i class="fa fa-users"></i>  @Loc["Users"]
                        </a>
                        <a href="cards" class="dropdown-item has-icon">
                            <i class="far fa-credit-card"></i>  @Loc["Cards"]
                        </a>
                        <a href="ManageAds" class="dropdown-item has-icon">
                            <i class="fa fa-ad"></i>  @Loc["Offers"]
                        </a>
                        <a href="ManageAdPrices" class="dropdown-item has-icon">
                            <i class="fa fa-money-bill-wave-alt"></i> @Loc["Prices"]
                        </a>
                        <a href="SocialNetwork" class="dropdown-item has-icon">
                            <i class="fas fa-share-alt"></i> @Loc["SocialNetworks"]
                        </a>
                    }
                    <div class="dropdown-divider"></div>
                    <a @onclick="Logout" class="dropdown-item has-icon text-danger">
                        <i class="fa fa-sign-out-alt"></i> @Loc["Logout"]
                    </a>
                </div>
            }
        </li>
    </ul>
</nav>