@page "/ads/details/{id}"

@using Abeer.UI_Ads.Components
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Details> Loc
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

@{
    var list = new List<string>();
    @if (Ad != null)
    {
        if (!string.IsNullOrEmpty(Ad.ImageUrl1))
            list.Add(Ad.ImageUrl1);

        if (!string.IsNullOrEmpty(Ad.ImageUrl2))
            list.Add(Ad.ImageUrl2);

        if (!string.IsNullOrEmpty(Ad.ImageUrl3))
            list.Add(Ad.ImageUrl3);

        if (!string.IsNullOrEmpty(Ad.ImageUrl4))
            list.Add(Ad.ImageUrl4);
    }
}

@if (Ad != null)
{
    <div class="card mx-3 col-lg-4 col-sm-12">
        <span class="pt-5" @onclick="@(()=>NavigationManager.NavigateTo("/ads/MyAds"))">
        <i style="font-size:25px" class="fas fa-arrow-left"></i>
        </span>
        <div style="line-height: 60px;" class="row p-3 pt-0">
            <div class="col-8 pt-2">
                <h4 style="color:black;font-size:18px;font-weight:600;">
                    @Ad.Title
                </h4>
            </div>
            <div class="col-4 m-0 p-0 text-right">

                <span style="color:lightgray">Il y'a @((int)((DateTime.Now- Ad.ValidateDate).TotalDays)) jour(s)</span>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12 mb-2">
                <div class="gallery gallery-md">
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl1))
                    {
                        <img class="col-12" src="@Ad.ImageUrl1" />
                    }
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl2))
                    {
                        <img class="col-12" src="@Ad.ImageUrl2" />
                    }
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl3))
                    {
                        <img class="col-12" src="@Ad.ImageUrl3" />
                    }
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl4))
                    {
                        <img class="col-12" src="@Ad.ImageUrl4" />
                    }
                </div>
            </div>
            <div class="row pt-3 mb-2">
                <div class="col-6 text-dark"><h6>@User.DisplayName</h6></div>
                <div style="color:#F27F63" class="col-6 text-right"><h6>@Ad.Price @Ad.Currency</h6></div>
            </div>
            <p class="mb-2 " style="font-weight: 300;">
                @Ad.Description
            </p>
            <div class="row col-12">
                @if (!string.IsNullOrEmpty(Ad.Url1))
                {
                    <a href="@Ad.Url1" class="mr-2">@Ad.Url1</a>
                }
                @if (!string.IsNullOrEmpty(Ad.Url2))
                {
                    <a href="@Ad.Url2" class="mr-2">@Ad.Url2</a>
                }
                @if (!string.IsNullOrEmpty(Ad.Url3))
                {
                    <a href="@Ad.Url3" class="mr-2">@Ad.Url3</a>
                }
                @if (!string.IsNullOrEmpty(Ad.Url4))
                {
                    <a href="@Ad.Url4" class="mr-2">@Ad.Url4</a>
                }
            </div>

            @if (!Ad.IsValid && User.IsAdmin)
            {
                <a href="/ads/ValidAd/@Ad.Id" class="btn btn-primary"><i class="fas fa-check-square"></i>@Loc["ValidAd"]</a>
            }

            <div class="row ">
                <button style="background:#F28064;color:white;font-weight:300; font-size: 15px;" class="py-2 btn btn-xl col-12 mb-2">Prendre Contact</button>
            </div>
            <div class="row">
                <button style="background:#1478D9;color:white;font-weight:300;" class="py-2 btn btn-xl col-6">Ses Annonces</button>
                <button style="background:#1FBF8A;color:white;font-weight:300;" class="py-2 btn btn-xl col-6" @onclick="GoToProfilAd">Afficher son profil</button>
            </div>
        </div>
    </div>
    @*<section class="section">
            <div class="section-header">

            </div>
            <div class="section-header">
                @if (Ad.OtherAds != null)
                {
                    <div class="input-group">
                        @foreach (var ad in Ad.OtherAds)
                        {
                            <div class="col-3">
                                <a href="@($"/ads/details/{ad.Id}")" target="_blank">
                                    <div class="card">
                                        <div class="card-header"><h5>@ad.Title</h5></div>
                                        <div class="card-body">
                                            <img class="card-img" src="@ad.ImageUrl1" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="section-body">
                <div class="container">
                    <div class="card">
                        <div class="container-fliud">
                            <div class="wrapper row">
                                <div class="preview col-md-6">
                                    @if (list.Any())
                                    {
                                        <div class="preview-pic tab-content">
                                            @for (var i = 0; i < list.Count; i++)
                                            {
                                                <div class="tab-pane @(CurrentImageIndex == i ? "active" : "")" id="pic-@(i + 1)"><img src="@list[i]" style="max-width: 350px; max-height: 180px" /></div>
                                            }
                                        </div>
                                        <ul class="preview-thumbnail nav nav-tabs">
                                            @for (var i = 0; i < list.Count; i++)
                                            {
                                                <li class="@(CurrentImageIndex == i ? "active" : "")">
                                                    <a data-target="#pic-@(i + 1)" data-toggle="tab" @onclick="@(()=>CurrentImageIndex = i)">
                                                        <img src="@list[i]" style="max-width: 90px; max-height:90px" />
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }

                                </div>
                                <div class="details col-md-6">
                                    <h3 class="product-title">@Ad.Title</h3>
                                    <div class="rating">
                                        <span class="review-no">@Ad.ViewCount @Loc["reviews"]</span>
                                    </div>
                                    <p class="product-description">@Ad.Description.</p>
                                    <h4 class="price">@Loc["currentprice"]: <span>@Ad.Price @Ad.Currency</span></h4>
                                    <Abeer.Client.UISdk.SocialShareLinks Text="@Loc["ShareText", Ad.Title]" Content="@Ad.Description" Source="@Loc["ShareSource"]" TargetUrl="@NavigationManager.ToAbsoluteUri($"/ad/details/{Ad.Id}").ToString()" Title="@Loc["ShareTitle", Ad.Title]" Loc="Loc"></Abeer.Client.UISdk.SocialShareLinks>
                                    <hr />
                                    <CardAuthor Author="@Ad.Owner" Loc="@Loc"></CardAuthor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
}