@page "/ads/details/{id}"

@using Abeer.UI_Ads.Components
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

@inject Microsoft.Extensions.Localization.IStringLocalizer<Details> Loc
@inject Microsoft.Extensions.Localization.IStringLocalizer<AdFamiliesCategories> LocFamilies
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

@{
    var images = new List<string>();

    @if (Ad != null)
    {
        if (!string.IsNullOrEmpty(Ad.ImageUrl1))
            images.Add(Ad.ImageUrl1);

        if (!string.IsNullOrEmpty(Ad.ImageUrl2))
            images.Add(Ad.ImageUrl2);

        if (!string.IsNullOrEmpty(Ad.ImageUrl3))
            images.Add(Ad.ImageUrl3);

        if (!string.IsNullOrEmpty(Ad.ImageUrl4))
            images.Add(Ad.ImageUrl4);
    }
}

@if (Ad != null)
{
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/ads/list">@Loc["Home"]</a></li>
            @if (Ad.Family != null)
            {
                <li class="breadcrumb-item"><a href="/ads/listbyfamily/@Ad.Family">@LocFamilies[Ad.Family]</a>&nbsp;&gt;&nbsp;</li>
            }
            @if (Ad.Categories != null)
            {
                <Virtualize Items="Ad.Categories" Context="category">
                    <li class="breadcrumb-item"><a href="/ads/listByCategory/@category">@LocFamilies[category]</a></li>
                </Virtualize>
            }
            <li class="breadcrumb-item active">&nbsp;&gt;&nbsp;@Ad.Title</li>
        </ol>
    </nav><div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        @if (images.Any())
                        {
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1"><img src="@images[0]" /></div>
                                @for (int i = 1; i < images.Count; i++)
                                {
                                    <div class="tab-pane" id="@($"pic-{i+1}")"><img src="@images[i]" /></div>
                                }
                            </div>
                            <ul class="preview-thumbnail nav nav-tabs">
                                <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="@images[0]" /></a></li>
                                @for (int i = 1; i < images.Count; i++)
                                {
                                    <li><a data-target="@($"#pic-{i+1}")" data-toggle="tab"><img src="@images[i]" /></a></li>
                                }
                            </ul>
                        }
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Ad.Title</h3>
                        <div class="rating">
                            <span class="review-no">@Ad.ViewCount @Loc["Views"]</span>

                            @{
                                var v = 0;
                            }

                            @foreach (var viewer in Ad.LastViewers)
                            {
                                var left = 35 * v;
                                <div style="position:relative;left:@($"{120+left}px")">
                                    <a href="/viewprofile/@viewer.Id"><UserPhotoControl Loc="Loc" Height="35" Width="35" User="viewer" Left="0"></UserPhotoControl></a>
                                </div>

                                v++;
                            }
                            @if (Ad.IsValid)
                            {
                                <span style="color:lightgray">@Loc["Since"] @((int)((DateTime.Now - Ad.ValidateDate).TotalDays)) jour(s)</span>
                            }
                        </div>
                        <h4 class="price">@Loc["currentprice"]: <span>@Ad.Price @Ad.Currency</span></h4>
                        <p class="product-description">@Ad.Description @User.DisplayName</p>
                        <hr />
                        <Abeer.Client.UISdk.SocialShareLinks Text="@Loc["ShareText", Ad.Title]" Content="@Ad.Description" Source="@Loc["ShareSource"]" TargetUrl="@NavigationManager.ToAbsoluteUri($"/ad/details/{Ad.Id}").ToString()" Title="@Loc["ShareTitle", Ad.Title]" Loc="Loc"></Abeer.Client.UISdk.SocialShareLinks>
                        @if (User.IsAdmin || User.IsUltimate || User.IsUnlimited || User.IsPayable)
                        {
                            <Abeer.Client.UISdk.SendToContact @ref="SendToControl" Loc="Loc" TargetUrl="AdUrl" User="User" SendClicked="SendAd"></Abeer.Client.UISdk.SendToContact>
                        }
                        @if (Author != null && Author.Id == User?.Id)
                        {
                            <button class="btn btn-primary" @onclick="@(()=>NavigationManager.NavigateTo($"/ads/activities/{Ad.Id}", true))"><i class="fas fa-chart-line"></i></button>

                            if (Author.IsUltimate || Author.IsAdmin || Author.IsUnlimited)
                            {
                                <button class="btn btn-secondary" @onclick="@(()=>DisplayModalQrCode=true)"><i class="fas fa-qrcode"></i></button>
                                <a href="@($"/api/sitemap/{Author.Id}")" target="_blank"><i class="fas fa-sitemap"></i></a>
                                <a href="@($"/api/rss/{Author.Id}")" target="_blank"><i class="fas fa-rss-square"></i></a>
                            }
                        }
                        @if (!Ad.IsValid && User.IsAdmin)
                        {
                            <a href="/ads/ValidAd/@Ad.Id" class="btn btn-primary"><i class="fas fa-check-square"></i>@Loc["ValidAd"]</a>
                        }
                    <div class="row pt-3 mb-2">
                        <hr />
                        <div class="col-6 text-dark"><h6><UserPhotoControl Loc="Loc" Height="35" Width="35" User="Author" Left="0"></UserPhotoControl>@Author.DisplayName</h6></div>
                        <div class="row ">
                            <button style="background:#F28064;color:white;font-weight:300; font-size: 15px;" class="py-2 btn btn-xl col-12 mb-2">Prendre Contact</button>
                        </div>
                        <div class="row">
                            <button style="background:#1478D9;color:white;font-weight:300;" class="py-2 btn btn-xl col-6">Ses Annonces</button>
                            <button style="background:#1FBF8A;color:white;font-weight:300;" class="py-2 btn btn-xl col-6" @onclick="GoToProfilAd">Afficher son profil</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (DisplayModalQrCode)
{
    <div @onclick="@(() => DisplayModalQrCode = false)" class="modal fade show effect-open" id="modal-confirm" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: block;top:0;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 0px !important; height: 120%;border-radius:500px;">
                <div id="background" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: white; filter: blur(3px); z-index: 99; "></div>
                <div class="modal-body" style="display: flex;justify-content: center; align-items: center;">
                    <div class="text-center" style="background-color: #1FBF8A; color: white; width: calc(80vw); height: calc(80vw); margin-left: auto; margin-right: auto; border-radius: 50%;  display: flex;justify-content: center;
  align-items: center;z-index: 999">
                        <div>
                            <div class="pb-3">
                                <img alt="qrcode" src="/api/QrCodeGenerator?link=@(Navigation.ToAbsoluteUri(Navigation.Uri))" width="160" />
                            </div>
                            <div>
                                <span class="pb-2" style="font-size:18px">@Ad.Title</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
