@page "/ads/details/{id}"

@using Abeer.UI_Ads.Components
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

@inject Microsoft.Extensions.Localization.IStringLocalizer<Details> Loc
@inject Microsoft.Extensions.Localization.IStringLocalizer<AdFamiliesCategories> LocFamilies
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

@{
    var list = new List<string>();

    @if (Ad != null)
    {
        if (!string.IsNullOrEmpty(Ad.ImageUrl1))
            list.Add(Ad.ImageUrl1);

        if (!string.IsNullOrEmpty(Ad.ImageUrl2))
            list.Add(Ad.ImageUrl2);

        if (!string.IsNullOrEmpty(Ad.ImageUrl3))
            list.Add(Ad.ImageUrl3);

        if (!string.IsNullOrEmpty(Ad.ImageUrl4))
            list.Add(Ad.ImageUrl4);
    }
}

@if (Ad != null)
{
    <div class="card col-12">
        <span class="pt-5" @onclick="@(()=>NavigationManager.NavigateTo("/ads/MyAds"))">
            <i style="font-size:25px" class="fas fa-arrow-left"></i>
        </span>
        <div style="line-height: 60px;" class="row p-3 pt-0">
            <div class="col-8 pt-2">
                <h4 style="color:black;font-size:18px;font-weight:600;">
                    @Ad.Title <span class="badge badge-primary">@Ad.ViewCount</span>
                </h4>
            </div>
            <div class="col-4 m-0 p-0 text-right">
                <span style="color:lightgray">Il y'a @((int)((DateTime.Now- Ad.ValidateDate).TotalDays)) jour(s)</span>
            </div>
        </div>
        <div class="card-body">
            @if (!string.IsNullOrEmpty(Ad.Family))
            {
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/ads/list">
                                @Loc["Home"]
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/ads/listbyfamily/@Ad.Family">
                                @LocFamilies[Ad.Family]
                            </a>
                        </li>
                        @if (Ad.Categories != null)
                        {
                            foreach (var category in Ad.Categories)
                            {
                                <li class="breadcrumb-item">
                                    <a href="/ads/listByCategory/@category">
                                        @LocFamilies[category]
                                    </a>
                                </li>
                            }
                        }
                    </ol>
                </nav>
            }
            @if (Ad.LastViewers != null)
            {
                <div class="col d-flex align-items-start">
                    @foreach (var viewer in Ad.LastViewers)
                    {
                        <UserPhotoControl Loc="Loc" Height="35" Width="35" User="viewer"></UserPhotoControl>
                    }
                </div>
            }
            <div class="col-12 mb-2">
                <div class="gallery gallery-md">
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl1))
                    {
                        <img class="col-12" src="@Ad.ImageUrl1" />
                    }
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl2))
                    {
                        <img class="col-12" src="@Ad.ImageUrl2" />
                    }
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl3))
                    {
                        <img class="col-12" src="@Ad.ImageUrl3" />
                    }
                    @if (!string.IsNullOrEmpty(Ad.ImageUrl4))
                    {
                        <img class="col-12" src="@Ad.ImageUrl4" />
                    }
                </div>
            </div>
            <div class="row pt-3 mb-2">
                <div class="col-6 text-dark"><h6>@User.DisplayName</h6></div>
                <div style="color:#F27F63" class="col-6 text-right"><h6>@Ad.Price @Ad.Currency</h6></div>
            </div>
            <p class="mb-2 " style="font-weight: 300;">
                @Ad.Description
            </p>
            <div class="row col-12">
                @if (!string.IsNullOrEmpty(Ad.Url1))
                {
                    <a href="@Ad.Url1" class="mr-2">@Ad.Url1</a>
                }
                @if (!string.IsNullOrEmpty(Ad.Url2))
                {
                    <a href="@Ad.Url2" class="mr-2">@Ad.Url2</a>
                }
                @if (!string.IsNullOrEmpty(Ad.Url3))
                {
                    <a href="@Ad.Url3" class="mr-2">@Ad.Url3</a>
                }
                @if (!string.IsNullOrEmpty(Ad.Url4))
                {
                    <a href="@Ad.Url4" class="mr-2">@Ad.Url4</a>
                }
            </div>

            @if (!Ad.IsValid && User.IsAdmin)
            {
                <a href="/ads/ValidAd/@Ad.Id" class="btn btn-primary"><i class="fas fa-check-square"></i>@Loc["ValidAd"]</a>
            }

            <div class="row ">
                <button style="background:#F28064;color:white;font-weight:300; font-size: 15px;" class="py-2 btn btn-xl col-12 mb-2">Prendre Contact</button>
            </div>
            <div class="row">
                <button style="background:#1478D9;color:white;font-weight:300;" class="py-2 btn btn-xl col-6">Ses Annonces</button>
                <button style="background:#1FBF8A;color:white;font-weight:300;" class="py-2 btn btn-xl col-6" @onclick="GoToProfilAd">Afficher son profil</button>
                <Abeer.Client.UISdk.SocialShareLinks Text="@Loc["ShareText", Ad.Title]" Content="@Ad.Description" Source="@Loc["ShareSource"]" TargetUrl="@NavigationManager.ToAbsoluteUri($"/ad/details/{Ad.Id}").ToString()" Title="@Loc["ShareTitle", Ad.Title]" Loc="Loc"></Abeer.Client.UISdk.SocialShareLinks>
                @if (Author != null && Author.Id == User?.Id)
                {
                    <button class="btn btn-primary" @onclick="@(()=>NavigationManager.NavigateTo($"/ads/activities/{Ad.Id}", true))"><i class="fas fa-chart-line"></i></button>

                    if (Author.IsUltimate || Author.IsAdmin || Author.IsUnlimited)
                    {
                        <button class="btn btn-secondary" @onclick="@(()=>DisplayModalQrCode=true)"><i class="fas fa-qrcode"></i></button>
                        <a href="@($"/api/sitemap/{Author.Id}")" target="_blank"><i class="fas fa-sitemap"></i></a>
                        <a href="@($"/api/rss/{Author.Id}")" target="_blank"><i class="fas fa-rss-square"></i></a>
                    }
                }
                @if (User.IsAdmin || User.IsUltimate || User.IsUnlimited || User.IsPayable)
                {
                    <Abeer.Client.UISdk.SendToContact Loc="Loc" TargetUrl="AdUrl" User="User"></Abeer.Client.UISdk.SendToContact>
                }
            </div>
        </div>
    </div>
}
@if (DisplayModalQrCode)
{
    <div @onclick="@(() => DisplayModalQrCode = false)" class="modal fade show effect-open" id="modal-confirm" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: block;top:0;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 0px !important; height: 120%;border-radius:500px;">
                <div id="background" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: white; filter: blur(3px); z-index: 99; "></div>
                <div class="modal-body" style="display: flex;justify-content: center; align-items: center;">
                    <div class="text-center" style="background-color: #1FBF8A; color: white; width: calc(80vw); height: calc(80vw); margin-left: auto; margin-right: auto; border-radius: 50%;  display: flex;justify-content: center;
  align-items: center;z-index: 999">
                        <div>
                            <div class="pb-3">
                                <img alt="qrcode" src="/api/QrCodeGenerator?link=@(Navigation.ToAbsoluteUri(Navigation.Uri))" width="160" />
                            </div>
                            <div>
                                <span class="pb-2" style="font-size:18px">@Ad.Title</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
