@page "/ads/manage"
@using System.Security.Claims
@using Abeer.UI_Ads.Components
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject HttpClient HttpClient
@inject Microsoft.Extensions.Localization.IStringLocalizer<ManageAds> Loc

@if (ModalFormAdVisible)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-backdrop modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Loc["EditAdTitle"]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <section class="section">
                        <div class="card">
                            <div class="card-body">
                                <FormAd Ad="Current" Loc="Loc" Disabled="@(Mode == "Delete")" FormError="@FormError" FormHasError="@FormHasError"></FormAd>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning " @onclick="@(() => ModalFormAdVisible = false)">@Loc["Cancel"]</button>
                    <button type="button" class="btn btn-success" @onclick="Save">@Loc["Save"]</button>
                </div>
            </div>
        </div>
    </div>
}
<section class="section">
    <div class="section-header">
        <h1>@Loc["Title"]</h1>
    </div>
    <div class="section-header">
        <div class="input-group">
            <input type="search" id="example-input1-group2" name="example-input1-group2" class="form-control" @bind="Term" @onkeyup="countTerm">
            <span class="input-group-btn">
                <button type="button" class="btn btn-lg" @onclick="Search"><i class="fa fa-2x  fa-search"></i></button>
            </span>
            <div class="search-backdrop"></div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                @foreach (var ad in Items)
                {
                    <CardAd Ad="ad" Editable="true" Loc="Loc" OnEditClicked="@(() => OpenEditModal(ad))" OnDeleteClicked="@(() => OpenDeleteModal(ad))"></CardAd>
                }
            </div>
        </div>
    </div>
    <div class="fixed-bottom m-5">
        <button class="btn btn-danger btn-circle btn-xl float-right ml-2" @onclick="OpenCreateAd" title="@Loc["PublishAnAd"]"><i class="fa fa-2x fa-plus"></i></button>
        <a class="btn btn-warning btn-circle btn-xl float-right" href="/ManageAdPrices" title="@Loc["ManageAdPrices"]"><i class="fa fa-2x fa-money-bill-wave-alt"></i></a>
    </div>
</section>