@page "/ads/MyAds"
@using Abeer.UI_Ads.Components
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject HttpClient HttpClient
@inject Microsoft.Extensions.Localization.IStringLocalizer<MyAds> Loc
@inject NavigationManager NavigationManager

@if (ModalEditAdVisible)
{
    <ModalDefault Title="@Loc["EditAd"]" ModalCancelClicked="() => ModalEditAdVisible = false">
        <Body>
            <div class="modal-body">
                <FormAd Cancel="() => ModalEditAdVisible = false" Ad="Current" Disabled="false" FormHasError="UpdateHasError" FormError="@Loc["UpdateFailedError"]" Loc="Loc"></FormAd>
            </div>
        </Body>
    </ModalDefault> 
}
@if (ModalDeleteAdVisible)
{
    <ModalDefault Title="@Loc["DeleteAdTitle"]" ModalCancelClicked="() => ModalDeleteAdVisible = false">
        <Body>
            <div class="modal-body">
                <div>
                    <span>@Loc["AreYouSureDelete"]</span>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" @onclick="@(() => ModalDeleteAdVisible = false)">@Loc["Cancel"]</button>
                        <button type="button" class="btn btn-success" @onclick="Delete">@Loc["Delete"]</button>
                    </div>
                </div>
            </div>
        </Body>
    </ModalDefault>
}
<section class="section">
    <div class="row mt-5" style="line-height: 60px;">
        <label @onclick="ResetListAds" style="font-size: 30px; font-weight: 600; color: black;" class="col-6 cursor-pointer">Annonces</label>
        <label @onclick="FilterMyAds" class="col-6 text-right cursor-pointer" style="width:100%">Voir mes annonces</label>
    </div>
    <div class="section-header p-0">
        <div class="input-group">
            <input type="search" placeholder="@Loc["Search"]" class="col-10 form-control">
            <span class="input-group-btn" style="position:relative;background: #F5F8FA; line-height: 50px;">
                <button type="button" class="btn" style="border-radius: 0; border-left: 1px solid grey;border-right:1px solid grey;font-size: 15px; font-weight: 400">Filter<i class="pl-1 fas fa-caret-down"></i></button>
            </span>
        </div>
    </div>

    <div id="ads" class="row section-body mt-3">
        @*<button class="btn btn-primary" @onclick="ViewNotValid">@Loc["ViewNotValid"]</button>
            <button class="btn btn-warning" @onclick="GotoAll">@Loc["ListAds"]</button>*@
        @if (AdsTmp.Any())
        {
            <Virtualize Items="@AdsTmp" Context="ad">
                <Placeholder>@Loc["Loading"]</Placeholder>
                <ItemContent>
                    <CardAd Loc="Loc" Ad="ad" OnEditClicked="@(() => OpenEditModal(ad))" OnDeleteClicked="@(() => OpenDeleteModal(ad))" Editable="IsMyAds"></CardAd>
                </ItemContent>
            </Virtualize>
        }
        else
        {
            <div class="alert alert-info">
                @Loc["NoAdsFound"]
            </div>
        }
    </div>
</section>

<div class=" " style="right:20px; bottom:20px;z-index:1030;position:fixed;">
    <a class="btn btn-danger btn-circle btn-xl float-right ml-2" href="ads/Create" title="@Loc["PublishAnAd"]"><i class="fa fa-2x fa-plus"></i></a>
</div>