@page "/ads/MyAds"
@using Abeer.UI_Ads.Components
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject HttpClient HttpClient
@inject Microsoft.Extensions.Localization.IStringLocalizer<MyAds> Loc
@inject NavigationManager NavigationManager
@inject IJSRuntime jSRuntime

@if (ModalEditAdVisible)
{
    <ModalDefault Title="@Loc["EditAd"]" ModalCancelClicked="() => ModalEditAdVisible = false">
        <Body>
            <div class="modal-body">
                <FormAd Cancel="() => ModalEditAdVisible = false" Ad="Current" Disabled="false" FormHasError="UpdateHasError" FormError="@Loc["UpdateFailedError"]" Loc="Loc"></FormAd>
            </div>
        </Body>
    </ModalDefault>
}
@if (ModalDeleteAdVisible)
{
    <ModalDefault Title="@Loc["DeleteAdTitle"]" ModalCancelClicked="() => ModalDeleteAdVisible = false">
        <Body>
            <div class="modal-body">
                <div>
                    <span>@Loc["AreYouSureDelete"]</span>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" @onclick="@(() => ModalDeleteAdVisible = false)">@Loc["Cancel"]</button>
                        <button type="button" class="btn btn-success" @onclick="Delete">@Loc["Delete"]</button>
                    </div>
                </div>
            </div>
        </Body>
    </ModalDefault>
}
<section class="section">
    <div class="row mt-5" style="line-height: 60px;">
        <label @onclick="ResetListAds" style="font-size: 30px; font-weight: 600; color: black;" class="col-6 cursor-pointer">Annonces</label>
        <label @onclick="FilterMyAds" class="col-6 text-right cursor-pointer" style="width:100%">Voir mes annonces</label>
    </div>
    <div class="input-group">
        <input type="text" @oninput="TapSearch" @bind="searchTxt" class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
            <button @onclick="OpenFilter" style="position: relative; border-left: 1px solid grey;" class="form-control dropdown-toggle" type="button">&nbsp;&nbsp;&nbsp;Filtre&nbsp;&nbsp;&nbsp;</button>
            <div id="dropdownmenu" class="dropdownmenu" style=" position: absolute; right: 0px; background: #F5F8FA; border-radius: 5px; top: 70px; width: 100%; z-index: 99; height:auto">
                @if (ShowFilter2)
                {
                    <div class="row">
                        <div class="col-xs-5 col-md-4">
                            <div class="cursor-pointer " role="tablist">
                                <span @onclick="OpenFilterCountry" class="list-group-item list-group-item-action">Pays <i style=" line-height: 24px;" class="float-right fas fa-angle-right"></i></span>
                            </div> 
                            <span class="my-3 dropdown-item">Toutes les familles</span>
                            <div class="cursor-pointer " role="tablist">
                                <Virtualize Items="RefAds.Families" Context="family">
                                    <span class="list-group-item list-group-item-action" @onclick="() => OpenFilterCategory(family)">@family.Label <i  style=" line-height: 24px;" class="float-right fas fa-angle-right"></i></span>
                                </Virtualize>
                            </div> 
                        </div>

                        @if (ShowFilterCountry)
                        {
                            <div class=" col-xs-7 col-md-8  py-3">
                                <div class="row">
                                    <Virtualize Items="RefAds.Countries" Context="country">
                                        <div @onclick="() => SelectCountry(country)" style="background: @(country.Selected ? "lightgray" : " white")" class="cursor-pointer list-group-item list-group-item-action col-3">@country.Name</div>
                                    </Virtualize>
                                </div>
                            </div>
                        }
                        else if (ShowFilterCategory)
                        {
                            <div  class="col-xs-7  col-md-8 py-3"> 
                                    <Virtualize Items="FamilySelected.Categories" Context="category">
                                        <div @onclick="() => SelectCategory(category)" style="background: @(category.Selected ? "lightgray" : " white")"  class="cursor-pointer list-group-item list-group-item-action">@category.Label</div>
                                    </Virtualize> 
                            </div>
                        }
                    </div>
                    <div class="row justify-content-center mt-2">
                        <button @onclick="() => ShowFilter2 = false" class="btn btn-success ">Résultat (@RefAds?.Ads?.Count())</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="ads" class="row section-body mt-3">
        @*<button class="btn btn-primary" @onclick="ViewNotValid">@Loc["ViewNotValid"]</button>
            <button class="btn btn-warning" @onclick="GotoAll">@Loc["ListAds"]</button>*@
        @if (AdsTmp.Any())
        {
            <Virtualize Items="@AdsTmp" Context="ad">
                <Placeholder>@Loc["Loading"]</Placeholder>
                <ItemContent>
                    <CardAd Loc="Loc" Ad="ad" OnEditClicked="@(() => OpenEditModal(ad))" OnDeleteClicked="@(() => OpenDeleteModal(ad))" Editable="IsMyAds"></CardAd>
                </ItemContent>
            </Virtualize>
        }
        else
        {
            <div class="alert alert-info">
                @Loc["NoAdsFound"]
            </div>
        }
    </div>
</section>

<div class=" " style="right:20px; bottom:20px;z-index:1030;position:fixed;">
    <a class="btn btn-danger btn-circle btn-xl float-right ml-2" href="ads/Create" title="@Loc["PublishAnAd"]"><i class="fa fa-2x fa-plus"></i></a>
</div>