@page "/ads/ValidAd/{AdId}"
@using Abeer.Shared.Functional
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject Microsoft.Extensions.Localization.IStringLocalizer<ValidAd> Loc
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<section class="section">
    <div class="section-header">
        <h1>@Loc["Title"]</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>@Loc["Summary"]</h3>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label>@Loc["AdTitle"]</label>
                <input type="text" Class="form-control" @bind="Ad.Title" disabled="disabled" />
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label>@Loc["Description"]</label>
                <textarea type="text" Class="form-control h-100" rows="6" @bind="Ad.Description" cols="6"></textarea>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label>@Loc["Price"] @Ad.Currency</label>
                <input type="number" Class="form-control" @bind="Ad.Price" disabled="disabled" />
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label>@Loc["Url1"]</label>
                <input type="url" Class="form-control" @bind="Ad.Url1" disabled="disabled" />
            </div>
            <hr />
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label>@Loc["Url2"]</label>
                <input type="url" Class="form-control" @bind="Ad.Url2" disabled="disabled" />
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label>@Loc["Url3"]</label>
                <input type="url" Class="form-control" @bind="Ad.Url3" disabled="disabled" />
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label>@Loc["Url4"]</label>
                <input type="url" Class="form-control" @bind="Ad.Url4" disabled="disabled" />
            </div>
            <hr />
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <img src="@Ad.ImageUrl1" />
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <img src="@Ad.ImageUrl2" />
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <img src="@Ad.ImageUrl3" />
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <img src="@Ad.ImageUrl4" />
            </div>
            @if (IsValid)
            {
                <div class="form-group text-center">
                    <button class="btn btn-success" @onclick="Finish"><i class="fas fa-upload"></i>@Loc["Finish"]</button>
                </div>
            }
            else if (RequirePayment)
            {
                <div class="alert alert-warning">
                    <i class="fas fa-store"></i>@Loc["WaitPaymentInStore"]
                </div>
                <div class="form-group text-center">
                    <a href="/ads/myads" class="btn btn-success"><i class="fas fa-upload"></i>@Loc["GoMyAds"]</a>
                </div>
            }
        </div>
    </div>
</section>